.base-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
    cursor: pointer
}

.base-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(66,153,225,.5)
}

.base-button:disabled {
    opacity: .75;
    cursor: not-allowed
}

.base-button.--rect {
    border-radius: 4px
}

.base-button.--rounded-rect {
    border-radius: 8px
}

.base-button.--primary {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56,127,191,var(--bg-opacity));
    border-width: 1px;
    border-style: solid;
    --border-opacity: 1;
    border-color: #387fbf;
    border-color: rgba(56,127,191,var(--border-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.base-button.--accent {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255,138,0,var(--bg-opacity));
    border-width: 1px;
    border-style: solid;
    --border-opacity: 1;
    border-color: #ff8a00;
    border-color: rgba(255,138,0,var(--border-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.base-button.--outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    --border-opacity: 1;
    border-color: #387fbf;
    border-color: rgba(56,127,191,var(--border-opacity));
    --text-opacity: 1;
    color: #387fbf;
    color: rgba(56,127,191,var(--text-opacity))
}

.base-button.--outline-reversed {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56,127,191,var(--bg-opacity));
    border-width: 1px;
    border-style: solid;
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255,255,255,var(--border-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.app-modal {
    background: rgba(0,0,0,.5)
}

.app-modal.--full-scrollable {
    overflow-y: auto;
    align-items: center
}

.app-modal__body.--regular {
    max-width: 600px
}

.app-modal__body.--wide {
    max-width: 680px
}

.app-modal__body.--scrollable {
    max-height: 400px;
    padding-right: .75rem;
    overflow: auto
}

.app-modal__body.--high-scrollable {
    max-height: 80vh;
    max-height: calc(var(--vh, 1vh) * 80);
    padding-right: .75rem;
    overflow: auto
}

@media screen and (max-width: 639px) {
    .app-modal__body {
        width:85vw;
        max-height: 70vh
    }

    .app-modal__body.--scrollable,.app-modal__body.--scrollable-mobile {
        max-height: 80vh;
        max-height: calc(var(--vh, 1vh) * 80)
    }

    .app-modal__body.--scrollable-mobile {
        overflow: auto
    }

    .app-modal__body.--full-scrollable {
        max-height: none
    }
}

.header-height {
    min-height: 48px
}

.bottom-sheet-slide-up-enter-active,.bottom-sheet-slide-up-leave-active {
    transition: .5s
}

.bottom-sheet-slide-up-enter-active>.blackout,.bottom-sheet-slide-up-leave-active>.blackout {
    transition: .5s
}

.bottom-sheet-slide-up-enter>.blackout,.bottom-sheet-slide-up-leave-to>.blackout {
    opacity: 0
}

.bottom-sheet-slide-up-enter-active>.sheet,.bottom-sheet-slide-up-leave-active>.sheet {
    transition: .2s ease-in
}

.bottom-sheet-slide-up-enter>.sheet,.bottom-sheet-slide-up-leave-to>.sheet {
    transform: translateY(100%)
}

button[data-v-7b4d5325] {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.first-last[data-v-7b4d5325] {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56,127,191,var(--bg-opacity))
}

.with-half-gradient[data-v-7b4d5325]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.first-last[data-v-7b4d5325]:after {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255,138,0,var(--bg-opacity))
}

.calendar-cell__price[data-v-7b4d5325] {
    font-size: 9px
}

.calendar-cell:hover .calendar-cell__price[data-v-7b4d5325] {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.calendar-cell:hover .calendar-cell__empty-price[data-v-7b4d5325]:not(.--disabled) {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.ui-calendar {
    --chocotravel-ui-calendar-container-flex-direction: row;
    --chocotravel-ui-calendar-container-spacing: 0 0 0 24px;
    --chocotravel-ui-calendar-month-container-width: 50%;
    --chocotravel-ui-calendar-month-border-radius: 0;
    --chocotravel-ui-calendar-month-padding: 0;
    --chocotravel-ui-calendar-month-bg: #fff
}

.ui-calendar__container {
    flex-direction: var(--chocotravel-ui-calendar-container-flex-direction, row)
}

.ui-calendar__container .ui-calendar__month-container:not(.ui-calendar__month-container:first-of-type) {
    margin: var(--chocotravel-ui-calendar-container-spacing, 0 24px)
}

.ui-calendar__month-container {
    width: var(--chocotravel-ui-calendar-month-container-width, 50%);
    padding: var(--chocotravel-ui-calendar-month-padding, 0);
    background-color: var(--chocotravel-ui-calendar-month-bg, #fff);
    border-radius: var(--chocotravel-ui-calendar-month-border-radius, 0)
}

.month-item.--active {
    position: relative;
    font-weight: 600
}


.list-separator[data-v-b969d68c] {
    width: 75%;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
    margin-left: auto;
    margin-right: auto;
    height: .5px;
    opacity: .4
}

.ui-checkbox {
    position: relative;
    cursor: pointer
}

.ui-checkbox__box {
    display: inline-block;
    left: 0;
    box-shadow: 0 0 0 2px #387fbf;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease-in;
    overflow: hidden
}

.ui-checkbox__box:after {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-image: url(/cabinet/assets/images/checkbox--white-59556f7c.svg);
    transform: scale(0);
    transition: transform .1s ease-in
}

.ui-checkbox__box.--sm {
    min-height: 16px;
    max-height: 16px;
    min-width: 16px;
    max-width: 16px;
    background-size: 10px
}

.ui-checkbox__box.--md {
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
    background-size: 16px
}

.ui-checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

.ui-checkbox-input:hover+.ui-checkbox__box {
    background-image: url(/cabinet/assets/images/checkbox--primary-0aac4386.svg)
}

.ui-checkbox-input:checked+.ui-checkbox__box:after {
    background-color: #387fbf;
    transform: scale(1)
}

.ui-checkbox-input:hover:checked+.ui-checkbox__box:after {
    background-image: url(/cabinet/assets/images/checkbox--white-59556f7c.svg);
    transform: scale(1)
}

.ui-checkbox-input:focus+.ui-checkbox__box {
    box-shadow: 0 0 0 2px #387fbf,0 0 0 4px #c9e5f3
}

.ui-checkbox-input:disabled+.ui-checkbox__box:after {
    border-color: #9ea3b7;
    cursor: not-allowed
}

.ui-checkbox-input:disabled+.ui-checkbox__box {
    background-image: none;
    box-shadow: 0 0 0 2px #9ea3b7
}

.ui-checkbox-input:disabled:checked+.ui-checkbox__box:after {
    background-color: #fff;
    background-image: url(/cabinet/assets/images/checkbox--gray-aac94bb7.svg)
}

.expand-enter-active[data-v-bcb6ffcc],.expand-leave-active[data-v-bcb6ffcc] {
    transition: height .3s ease-in;
    overflow: hidden
}

.expand-enter[data-v-bcb6ffcc],.expand-leave-to[data-v-bcb6ffcc] {
    height: 0
}

.locales-block-shadow[data-v-db38eaf5] {
    box-shadow: 0 4px 20px rgba(118,182,203,.25)
}

.header-item[data-v-befade40] {
    display: flex;
    align-items: center;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600
}

.locales-block-position[data-v-befade40] {
    position: absolute;
    right: 0;
    z-index: 10;
    top: 5px
}

.locales-block-position[data-v-11c66d87] {
    position: absolute;
    top: 14px;
    left: 16px
}

.cabinet-spinner,.cabinet-spinner:after {
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.cabinet-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-width: 8px;
    border-style: solid;
    border-color: rgba(56,127,191,.2);
    border-left-color: #387fbf;
    transform: translateZ(0);
    animation: cabinet-spinner-loader .8s infinite linear
}

@keyframes cabinet-spinner-loader {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.empty-orders-image {
    width: 231px;
    height: 183px
}

@media (min-width: 1000px) {
    .empty-orders-image {
        width:310px;
        height: 247px
    }
}

.cabinet-tooltip {
    position: absolute;
    border-style: solid;
    --border-opacity: 1;
    border-color: #387fbf;
    border-color: rgba(56,127,191,var(--border-opacity));
    bottom: -10px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent
}

.button-arrow-stick {
    height: 2px;
    left: 10px;
    top: calc(50% - 1px)
}

.time-line-stroke {
    left: 15.5px
}

.time-line {
    width: 1rem;
    height: 1rem;
    margin-left: 2px;
    border-color: rgba(61,138,194,.25)
}

.time-line.--completed {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56,127,191,var(--bg-opacity));
    border-color: rgba(255,255,255,.75)
}

.time-line.--error {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    --bg-opacity: 1;
    background-color: #eb5757;
    background-color: rgba(235,87,87,var(--bg-opacity));
    border-color: rgba(255,255,255,.75)
}

.time-line.--enabled {
    --border-opacity: 1;
    border-color: #387fbf;
    border-color: rgba(56,127,191,var(--border-opacity))
}

.document-upload-description li:before {
    margin-right: .25rem;
    content: "\2014"
}

.payment-type-container {
    width: 100%;
    color: var(--color-dark-text);
    transition: .3s ease-in;
    background-color: #fff
}

.payment-type-container:focus {
    outline: none
}

.payment-type-container:focus[tabindex="0"] {
    box-shadow: 0 0 0 3px var(--color-blue-focus)
}

.payment-type {
    display: flex
}

@media screen and (max-width: 1000px) {
    .payment-type {
        flex-direction:column;
        align-items: center;
        padding: 20px
    }
}

.payment-type:last-child {
    margin-bottom: 0
}

.payment-type__title {
    max-width: 200px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 16px
}

@media screen and (max-width: 1000px) {
    .payment-type__title {
        max-width:unset;
        margin: 12px 0;
        text-align: center
    }
}

.payment-type__action-text {
    width: 100%;
    margin: 0;
    line-height: 20px
}

@media screen and (max-width: 1000px) {
    .payment-type__action-text {
        margin:8px 0;
        text-align: center
    }
}

.payment-type__action-text.--small {
    font-size: 12px
}

.payment-type__section {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 24px 20px
}

@media screen and (max-width: 1000px) {
    .payment-type__section {
        flex-direction:column;
        padding: 0
    }
}

.payment-type__section.--left {
    justify-content: center
}

@media screen and (min-width: 1000px) {
    .payment-type__section.--left {
        width:160px
    }
}

.payment-type__section.--middle {
    justify-content: space-between;
    border-left: 1px dashed var(--color-light-gray);
    border-right: 1px dashed var(--color-light-gray)
}

@media screen and (min-width: 1000px) {
    .payment-type__section.--middle {
        width:340px
    }
}

@media screen and (max-width: 1000px) {
    .payment-type__section.--middle {
        border:none
    }
}

.payment-type__section.--right {
    justify-content: space-between
}

@media screen and (min-width: 1000px) {
    .payment-type__section.--right {
        width:500px
    }
}

.payment-type__icons {
    vertical-align: middle;
    margin-left: 8px
}

@media screen and (max-width: 1000px) {
    .payment-type__icons {
        display:block;
        margin: 8px 0 0
    }
}

@media screen and (max-width: 1000px) {
    .payment-type-container .payment-type__section.--right {
        width:100%
    }
}

.img-preview-modal .app-modal__body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.support-chat-loader[data-v-f2d5b587] {
    top: calc(50% - 20px);
    left: calc(50% - 20px)
}

.support-chat-container::-webkit-scrollbar {
    width: .25rem
}

.support-chat-container::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #cfd1db;
    background-color: rgba(207,209,219,var(--bg-opacity));
    --bg-opacity: .75;
    border-radius: 4px
}

.messages-date-title:after,.messages-date-title:before {
    position: absolute;
    height: 1px;
    width: 1rem;
    --bg-opacity: 1;
    background-color: #9ea3b7;
    background-color: rgba(158,163,183,var(--bg-opacity));
    content: "";
    top: calc(50% - .5px)
}

.messages-date-title:before {
    left: 0;
    margin-left: -1.5rem
}

.messages-date-title:after {
    right: 0;
    margin-right: -1.5rem
}

.support-chat-textarea {
    padding-right: 28px;
    max-height: 78px;
    border-radius: 22px
}

.support-chat-textarea::-webkit-scrollbar {
    width: 6px
}

.support-chat-textarea::-webkit-scrollbar-track {
    background: transparent;
    margin-block:15px}

.support-chat-textarea::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #cfd1db;
    background-color: rgba(207,209,219,var(--bg-opacity));
    --bg-opacity: .75;
    border-radius: 9999px;
    border: 2px solid rgba(0,0,0,0);
    background-clip: padding-box
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,[type=button],[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset {
    margin: 0;
    padding: 0
}

ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

html {
    font-family: Open Sans,Arial,sans-serif;
    line-height: 1.5
}

*,:before,:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #f0f1f4
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
    color: #a0aec0
}

input::placeholder,textarea::placeholder {
    color: #a0aec0
}

button,[role=button] {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,input,optgroup,select,textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

pre,code,kbd,samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace
}

img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle
}

img,video {
    max-width: 100%;
    height: auto
}

.space-y-1>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(.25rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(.25rem * var(--space-y-reverse))
}

.space-x-1>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(.25rem * var(--space-x-reverse));
    margin-left: calc(.25rem * calc(1 - var(--space-x-reverse)))
}

.space-y-2>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(.5rem * var(--space-y-reverse))
}

.space-x-2>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(.5rem * var(--space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--space-x-reverse)))
}

.space-y-3>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(.75rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(.75rem * var(--space-y-reverse))
}

.space-x-3>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(.75rem * var(--space-x-reverse));
    margin-left: calc(.75rem * calc(1 - var(--space-x-reverse)))
}

.space-y-4>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(1rem * var(--space-y-reverse))
}

.space-x-4>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1rem * var(--space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--space-x-reverse)))
}

.space-y-5>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--space-y-reverse))
}

.space-x-5>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--space-x-reverse)))
}

.space-y-6>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--space-y-reverse))
}

.space-x-6>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--space-x-reverse)))
}

.space-y-8>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(2rem * var(--space-y-reverse))
}

.space-x-8>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(2rem * var(--space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--space-x-reverse)))
}

.space-x-16>:not(template)~:not(template) {
    --space-x-reverse: 0;
    margin-right: calc(4rem * var(--space-x-reverse));
    margin-left: calc(4rem * calc(1 - var(--space-x-reverse)))
}

.space-y-4\.5>:not(template)~:not(template) {
    --space-y-reverse: 0;
    margin-top: calc(1.125rem * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(1.125rem * var(--space-y-reverse))
}

.divide-y>:not(template)~:not(template) {
    --divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--divide-y-reverse)));
    border-bottom-width: calc(1px * var(--divide-y-reverse))
}

.divide-gray-350>:not(template)~:not(template) {
    --divide-opacity: 1;
    border-color: #e2e4eb;
    border-color: rgba(226,228,235,var(--divide-opacity))
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.bg-transparent {
    background-color: transparent
}

.bg-black {
    --bg-opacity: 1;
    background-color: #000;
    background-color: rgba(0,0,0,var(--bg-opacity))
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity))
}

.bg-red-500 {
    --bg-opacity: 1;
    background-color: #eb5757;
    background-color: rgba(235,87,87,var(--bg-opacity))
}

.bg-blue-300 {
    --bg-opacity: 1;
    background-color: #eff9fe;
    background-color: rgba(239,249,254,var(--bg-opacity))
}

.bg-blue-350 {
    --bg-opacity: 1;
    background-color: #ddeff8;
    background-color: rgba(221,239,248,var(--bg-opacity))
}

.bg-blue-450 {
    --bg-opacity: 1;
    background-color: #c9e5f3;
    background-color: rgba(201,229,243,var(--bg-opacity))
}

.bg-blue-500 {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56,127,191,var(--bg-opacity))
}

.bg-blue-550 {
    --bg-opacity: 1;
    background-color: #3d8ac2;
    background-color: rgba(61,138,194,var(--bg-opacity))
}

.bg-blue-600 {
    --bg-opacity: 1;
    background-color: #1463aa;
    background-color: rgba(20,99,170,var(--bg-opacity))
}

.bg-blue-650 {
    --bg-opacity: 1;
    background-color: #206da5;
    background-color: rgba(32,109,165,var(--bg-opacity))
}

.bg-orange-300 {
    --bg-opacity: 1;
    background-color: #fff3e5;
    background-color: rgba(255,243,229,var(--bg-opacity))
}

.bg-orange-500 {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255,138,0,var(--bg-opacity))
}

.bg-orange-600 {
    --bg-opacity: 1;
    background-color: #e57c00;
    background-color: rgba(229,124,0,var(--bg-opacity))
}

.bg-gray-200 {
    --bg-opacity: 1;
    background-color: #f5f6f8;
    background-color: rgba(245,246,248,var(--bg-opacity))
}

.bg-gray-300 {
    --bg-opacity: 1;
    background-color: #f0f1f4;
    background-color: rgba(240,241,244,var(--bg-opacity))
}

.bg-gray-350 {
    --bg-opacity: 1;
    background-color: #e2e4eb;
    background-color: rgba(226,228,235,var(--bg-opacity))
}

.bg-gray-400 {
    --bg-opacity: 1;
    background-color: #cfd1db;
    background-color: rgba(207,209,219,var(--bg-opacity))
}

.bg-gray-500 {
    --bg-opacity: 1;
    background-color: #9ea3b7;
    background-color: rgba(158,163,183,var(--bg-opacity))
}

.hover\:bg-transparent:hover {
    background-color: transparent
}

.hover\:bg-blue-500:hover {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56,127,191,var(--bg-opacity))
}

.hover\:bg-blue-600:hover {
    --bg-opacity: 1;
    background-color: #1463aa;
    background-color: rgba(20,99,170,var(--bg-opacity))
}

.hover\:bg-orange-500:hover {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255,138,0,var(--bg-opacity))
}

.hover\:bg-orange-600:hover {
    --bg-opacity: 1;
    background-color: #e57c00;
    background-color: rgba(229,124,0,var(--bg-opacity))
}

.hover\:bg-gray-300:hover {
    --bg-opacity: 1;
    background-color: #f0f1f4;
    background-color: rgba(240,241,244,var(--bg-opacity))
}

.active\:bg-orange-600:active {
    --bg-opacity: 1;
    background-color: #e57c00;
    background-color: rgba(229,124,0,var(--bg-opacity))
}

.bg-none {
    background-image: none
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right,var(--gradient-color-stops))
}

.bg-gradient-to-l {
    background-image: linear-gradient(to left,var(--gradient-color-stops))
}

.from-transparent {
    --gradient-from-color: transparent;
    --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(0, 0, 0, 0))
}

.to-blue-350 {
    --gradient-to-color: #DDEFF8
}

.hover\:to-transparent:hover {
    --gradient-to-color: transparent
}

.bg-opacity-50 {
    --bg-opacity: .5
}

.bg-opacity-75 {
    --bg-opacity: .75
}

.border-white {
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255,255,255,var(--border-opacity))
}

.border-red-500 {
    --border-opacity: 1;
    border-color: #eb5757;
    border-color: rgba(235,87,87,var(--border-opacity))
}

.border-blue-500 {
    --border-opacity: 1;
    border-color: #387fbf;
    border-color: rgba(56,127,191,var(--border-opacity))
}

.border-blue-550 {
    --border-opacity: 1;
    border-color: #3d8ac2;
    border-color: rgba(61,138,194,var(--border-opacity))
}

.border-orange-400 {
    --border-opacity: 1;
    border-color: #ffb257;
    border-color: rgba(255,178,87,var(--border-opacity))
}

.border-orange-500 {
    --border-opacity: 1;
    border-color: #ff8a00;
    border-color: rgba(255,138,0,var(--border-opacity))
}

.border-gray-300 {
    --border-opacity: 1;
    border-color: #f0f1f4;
    border-color: rgba(240,241,244,var(--border-opacity))
}

.border-gray-400 {
    --border-opacity: 1;
    border-color: #cfd1db;
    border-color: rgba(207,209,219,var(--border-opacity))
}

.border-gray-500 {
    --border-opacity: 1;
    border-color: #9ea3b7;
    border-color: rgba(158,163,183,var(--border-opacity))
}

.border-opacity-25 {
    --border-opacity: .25
}

.border-opacity-100 {
    --border-opacity: 1
}

.rounded-none {
    border-radius: 0
}

.rounded {
    border-radius: 4px
}

.rounded-lg {
    border-radius: 8px
}

.rounded-xl {
    border-radius: 12px
}

.rounded-full {
    border-radius: 9999px
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-r {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.rounded-l {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.rounded-t-lg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.rounded-b-lg {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.rounded-l-lg {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px
}

.rounded-t-xl {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.border-solid {
    border-style: solid
}

.border-none {
    border-style: none
}

.border-0 {
    border-width: 0
}

.border-2 {
    border-width: 2px
}

.border-3 {
    border-width: 3px
}

.border {
    border-width: 1px
}

.border-r {
    border-right-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.box-border {
    box-sizing: border-box
}

.cursor-pointer {
    cursor: pointer
}

.cursor-not-allowed {
    cursor: not-allowed
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-evenly {
    justify-content: space-evenly
}

.flex-1 {
    flex: 1 1 0%
}

.flex-grow {
    flex-grow: 1
}

.flex-shrink-0 {
    flex-shrink: 0
}

.font-normal {
    font-weight: 400
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-0 {
    height: 0
}

.h-1 {
    height: .25rem
}

.h-2 {
    height: .5rem
}

.h-3 {
    height: .75rem
}

.h-4 {
    height: 1rem
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-8 {
    height: 2rem
}

.h-10 {
    height: 2.5rem
}

.h-12 {
    height: 3rem
}

.h-16 {
    height: 4rem
}

.h-auto {
    height: auto
}

.h-px {
    height: 1px
}

.h-full {
    height: 100%
}

.text-xs {
    font-size: .75rem
}

.text-sm {
    font-size: .875rem
}

.text-base {
    font-size: 1rem
}

.text-lg {
    font-size: 1.125rem
}

.text-xl {
    font-size: 1.25rem
}

.text-2xl {
    font-size: 1.5rem
}

.text-3xl {
    font-size: 1.875rem
}

.text-2xs {
    font-size: 10px
}

.leading-4 {
    line-height: 1rem
}

.leading-5 {
    line-height: 1.25rem
}

.leading-6 {
    line-height: 1.5rem
}

.leading-7 {
    line-height: 1.75rem
}

.leading-none {
    line-height: 1
}

.leading-tight {
    line-height: 1.25
}

.leading-snug {
    line-height: 1.375
}

.leading-normal {
    line-height: 1.5
}

.leading-relaxed {
    line-height: 1.625
}

.leading-6\.5 {
    line-height: 1.6rem
}

.leading-7\.5 {
    line-height: 1.875rem
}

.list-inside {
    list-style-position: inside
}

.list-disc {
    list-style-type: disc
}

.m-0 {
    margin: 0
}

.m-5 {
    margin: 1.25rem
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem
}

.mt-0 {
    margin-top: 0
}

.mb-0 {
    margin-bottom: 0
}

.mt-1 {
    margin-top: .25rem
}

.mr-1 {
    margin-right: .25rem
}

.mb-1 {
    margin-bottom: .25rem
}

.ml-1 {
    margin-left: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mr-3 {
    margin-right: .75rem
}

.mb-3 {
    margin-bottom: .75rem
}

.ml-3 {
    margin-left: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mr-4 {
    margin-right: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.ml-4 {
    margin-left: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mr-6 {
    margin-right: 1.5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.ml-6 {
    margin-left: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-8 {
    margin-left: 2rem
}

.ml-12 {
    margin-left: 3rem
}

.mr-17 {
    margin-right: 4.25rem
}

.mr-auto {
    margin-right: auto
}

.ml-auto {
    margin-left: auto
}

.mb-px {
    margin-bottom: 1px
}

.-mt-1 {
    margin-top: -.25rem
}

.-mb-4 {
    margin-bottom: -1rem
}

.-mr-6 {
    margin-right: -1.5rem
}

.-mr-8 {
    margin-right: -2rem
}

.first\:mt-0:first-child {
    margin-top: 0
}

.first\:ml-0:first-child {
    margin-left: 0
}

.max-h-full {
    max-height: 100%
}

.max-h-screen {
    max-height: 100vh
}

.max-w-full {
    max-width: 100%
}

.min-h-0 {
    min-height: 0
}

.min-h-12 {
    min-height: 3rem
}

.min-h-full {
    min-height: 100%
}

.min-h-screen {
    min-height: 100vh
}

.min-w-0 {
    min-width: 0
}

.opacity-0 {
    opacity: 0
}

.opacity-25 {
    opacity: .25
}

.opacity-50 {
    opacity: .5
}

.opacity-75 {
    opacity: .75
}

.opacity-100,.hover\:opacity-100:hover {
    opacity: 1
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-visible {
    overflow: visible
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.overflow-x-scroll {
    overflow-x: scroll
}

.overflow-y-scroll {
    overflow-y: scroll
}

.overscroll-none {
    overscroll-behavior: none
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-px {
    padding: 1px
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.py-4\.5 {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem
}

.pt-1 {
    padding-top: .25rem
}

.pb-1 {
    padding-bottom: .25rem
}

.pl-1 {
    padding-left: .25rem
}

.pt-2 {
    padding-top: .5rem
}

.pr-2 {
    padding-right: .5rem
}

.pr-3 {
    padding-right: .75rem
}

.pl-3 {
    padding-left: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pl-4 {
    padding-left: 1rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pt-12 {
    padding-top: 3rem
}

.pr-12 {
    padding-right: 3rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pl-16 {
    padding-left: 4rem
}

.pb-px {
    padding-bottom: 1px
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.right-auto {
    right: auto
}

.left-auto {
    left: auto
}

.resize-none {
    resize: none
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.1)
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)
}

.focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(66,153,225,.5)
}

.focus\:shadow-none:focus {
    box-shadow: none
}

.fill-current {
    fill: currentColor
}

.stroke-current {
    stroke: currentColor
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-black {
    --text-opacity: 1;
    color: #000;
    color: rgba(0,0,0,var(--text-opacity))
}

.text-black-primary {
    --text-opacity: 1;
    color: #383838;
    color: rgba(56,56,56,var(--text-opacity))
}

.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.text-red-400 {
    --text-opacity: 1;
    color: #ef8181;
    color: rgba(239,129,129,var(--text-opacity))
}

.text-red-500 {
    --text-opacity: 1;
    color: #eb5757;
    color: rgba(235,87,87,var(--text-opacity))
}

.text-green-500 {
    --text-opacity: 1;
    color: #27ae60;
    color: rgba(39,174,96,var(--text-opacity))
}

.text-blue-400 {
    --text-opacity: 1;
    color: #6099cc;
    color: rgba(96,153,204,var(--text-opacity))
}

.text-blue-500 {
    --text-opacity: 1;
    color: #387fbf;
    color: rgba(56,127,191,var(--text-opacity))
}

.text-blue-550 {
    --text-opacity: 1;
    color: #3d8ac2;
    color: rgba(61,138,194,var(--text-opacity))
}

.text-orange-500 {
    --text-opacity: 1;
    color: #ff8a00;
    color: rgba(255,138,0,var(--text-opacity))
}

.text-gray-400 {
    --text-opacity: 1;
    color: #cfd1db;
    color: rgba(207,209,219,var(--text-opacity))
}

.text-gray-500 {
    --text-opacity: 1;
    color: #9ea3b7;
    color: rgba(158,163,183,var(--text-opacity))
}

.text-gray-550 {
    --text-opacity: 1;
    color: #989a9f;
    color: rgba(152,154,159,var(--text-opacity))
}

.text-gray-600 {
    --text-opacity: 1;
    color: #757c99;
    color: rgba(117,124,153,var(--text-opacity))
}

.hover\:text-white:hover {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity))
}

.hover\:text-blue-600:hover {
    --text-opacity: 1;
    color: #1463aa;
    color: rgba(20,99,170,var(--text-opacity))
}

.active\:text-blue-500:active {
    --text-opacity: 1;
    color: #387fbf;
    color: rgba(56,127,191,var(--text-opacity))
}

.active\:text-blue-600:active {
    --text-opacity: 1;
    color: #1463aa;
    color: rgba(20,99,170,var(--text-opacity))
}

.text-opacity-50 {
    --text-opacity: .5
}

.uppercase {
    text-transform: uppercase
}

.underline {
    text-decoration: underline
}

.no-underline {
    text-decoration: none
}

.visible {
    visibility: visible
}

.whitespace-no-wrap {
    white-space: nowrap
}

.break-words {
    word-wrap: break-word;
    overflow-wrap: break-word
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.w-0 {
    width: 0
}

.w-2 {
    width: .5rem
}

.w-3 {
    width: .75rem
}

.w-4 {
    width: 1rem
}

.w-5 {
    width: 1.25rem
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-10 {
    width: 2.5rem
}

.w-12 {
    width: 3rem
}

.w-16 {
    width: 4rem
}

.w-32 {
    width: 8rem
}

.w-40 {
    width: 10rem
}

.w-48 {
    width: 12rem
}

.w-82 {
    width: 21.5rem
}

.w-auto {
    width: auto
}

.w-desktop {
    width: 1000px
}

.w-1\/2 {
    width: 50%
}

.w-1\/3 {
    width: 33.333333%
}

.w-1\/4 {
    width: 25%
}

.w-2\/4 {
    width: 50%
}

.w-3\/4 {
    width: 75%
}

.w-1\/5 {
    width: 20%
}

.w-4\/5 {
    width: 80%
}

.w-10\/12 {
    width: 83.333333%
}

.w-full {
    width: 100%
}

.w-fit {
    width: -moz-fit-content;
    width: fit-content
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-notification {
    z-index: 1000
}

.z-dropdown {
    z-index: 1200
}

.z-modal {
    z-index: 1800
}

.hover\:z-20:hover {
    z-index: 20
}

.gap-2 {
    grid-gap: .5rem;
    gap: .5rem
}

.gap-3 {
    grid-gap: .75rem;
    gap: .75rem
}

.gap-8 {
    grid-gap: 2rem;
    gap: 2rem
}

.col-gap-3 {
    grid-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem
}

.row-gap-1 {
    grid-row-gap: .25rem;
    row-gap: .25rem
}

.row-gap-8 {
    grid-row-gap: 2rem;
    row-gap: 2rem
}

.gap-y-1 {
    grid-row-gap: .25rem;
    row-gap: .25rem
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translate(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skew(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}

.scale-100 {
    --transform-scale-x: 1;
    --transform-scale-y: 1
}

.hover\:scale-150:hover {
    --transform-scale-x: 1.5;
    --transform-scale-y: 1.5
}

.rotate-1\/4 {
    --transform-rotate: 90deg
}

.rotate-1\/2 {
    --transform-rotate: 180deg
}

.rotate-3\/4 {
    --transform-rotate: 270deg
}

.-translate-y-8 {
    --transform-translate-y: -2rem
}

.transition-all {
    transition-property: all
}

.transition {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform
}

.transition-colors {
    transition-property: background-color,border-color,color,fill,stroke
}

.ease-linear {
    transition-timing-function: linear
}

.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1)
}

.ease-out {
    transition-timing-function: cubic-bezier(0,0,.2,1)
}

.duration-150 {
    transition-duration: .15s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.duration-500 {
    transition-duration: .5s
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

.animate-spin {
    animation: spin 1s linear infinite
}

.rotate-1\/4 {
    transform: rotate(90deg)
}

.rotate-1\/2 {
    transform: rotate(180deg)
}

.rotate-3\/4 {
    transform: rotate(270deg)
}



@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    src: url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-500-6f4505b0.eot);
    src: url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-500-6f4505b0.eot?#iefix) format("embedded-opentype"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-500-9d6b549a.woff2) format("woff2"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-500-78a9ec8a.woff) format("woff"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-500-3dfe00c0.ttf) format("truetype"),url(/cabinet/assets/images/open-sans-v35-cyrillic_cyrillic-ext_latin-500-88c5d15b.svg#OpenSans) format("svg")
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    src: url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-600-91641e5d.eot);
    src: url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-600-91641e5d.eot?#iefix) format("embedded-opentype"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-600-8371e250.woff2) format("woff2"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-600-cbab1a56.woff) format("woff"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-600-5b8788be.ttf) format("truetype"),url(/cabinet/assets/images/open-sans-v35-cyrillic_cyrillic-ext_latin-600-f4000a07.svg#OpenSans) format("svg")
}

@font-face {
    font-display: swap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    src: url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-700-4ac701ec.eot);
    src: url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-700-4ac701ec.eot?#iefix) format("embedded-opentype"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-700-51143eef.woff2) format("woff2"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-700-af5f5407.woff) format("woff"),url(/cabinet/assets/fonts/open-sans-v35-cyrillic_cyrillic-ext_latin-700-daac9f53.ttf) format("truetype"),url(/cabinet/assets/images/open-sans-v35-cyrillic_cyrillic-ext_latin-700-b11fff48.svg#OpenSans) format("svg")
}

:root {
    font-family: Open Sans,Arial,sans-serif;
    color: #000
}

html,body,#app {
    width: 100%;
    min-height: 100vh;
    height: 100%
}

button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.loader-block-height {
    height: 40vh
}

.fade-enter-active,.fade-leave-active {
    transition-property: opacity
}

.fade-enter,.fade-leave-to {
    opacity: 0
}

.slide-up-enter-active,.slide-up-leave-active {
    transition-property: transform,opacity;
    transition-timing-function: cubic-bezier(.55,0,.1,1)
}

.slide-up-enter,.slide-up-leave-to {
    opacity: 0;
    transform: translateY(40px)
}

.slide-down-enter-active,.slide-up-down-active {
    transition-property: transform,opacity;
    transition-timing-function: cubic-bezier(.55,0,.1,1)
}

.slide-down-enter,.slide-down-leave-to {
    opacity: 0;
    transform: translateY(-40px)
}

.slide-left-enter-active,.slide-left-leave-active,.slide-right-enter-active,.slide-right-leave-active {
    transition-duration: .5s;
    transition-property: height,opacity,transform;
    transition-timing-function: cubic-bezier(.55,0,.1,1);
    overflow: hidden
}

.slide-right-enter,.slide-right-leave-active {
    opacity: 0;
    transform: translate(3em)
}

.slide-left-leave-active,.slide-left-enter {
    transform: translate(-3em)
}

.scale-enter-active,.scale-leave-active {
    transition: ease-in .1s
}

.scale-enter,.scale-leave-to {
    transform: scale(var(--ui-scale-factor, .6));
    opacity: 0
}
