.base-button {
    appearance:none;
    box-sizing:border-box;
    cursor:pointer;
    transition-duration:0.2s;
    transition-property:all;
    transition-timing-function:linear;
  }
  .base-button:focus {
    box-shadow:rgba(66, 153, 225, 0.5) 0 0 0 3px;
    outline:transparent solid 2px;
    outline-offset:2px;
  }
  .base-button:disabled {
    cursor:not-allowed;
    opacity:0.75;
  }
  .base-button.--rect {
    border-radius:4px;
  }
  .base-button.--rounded-rect {
    border-radius:8px;
  }
  .base-button.--primary {
    --bg-opacity:1;
    --border-opacity:1;
    --text-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
    border-color:rgba(56,127,191,var(--border-opacity));
    border-style:solid;
    border-width:1px;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .base-button.--primary:hover {
    --bg-opacity:1;
    --border-opacity:1;
    background-color:rgba(20,99,170,var(--bg-opacity));
    border-color:rgba(20,99,170,var(--border-opacity));
  }
  .base-button.--accent {
    --bg-opacity:1;
    --border-opacity:1;
    --text-opacity:1;
    background-color:rgba(255,138,0,var(--bg-opacity));
    border-color:rgba(255,138,0,var(--border-opacity));
    border-style:solid;
    border-width:1px;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .base-button.--accent:hover {
    --bg-opacity:1;
    --border-opacity:1;
    background-color:rgba(229,124,0,var(--bg-opacity));
    border-color:rgba(229,124,0,var(--border-opacity));
  }
  .base-button.--outline {
    --border-opacity:1;
    --text-opacity:1;
    background-color:transparent;
    border-color:rgba(56,127,191,var(--border-opacity));
    border-style:solid;
    border-width:1px;
    color:rgba(56,127,191,var(--text-opacity));
  }
  .base-button.--outline:hover {
    --bg-opacity:1;
    --text-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
    color:rgba(255,255,255,var(--text-opacity));
  }
  .base-button.--outline:disabled {
    --border-opacity:1;
    --text-opacity:1;
    background-color:transparent;
    border-color:rgba(158,163,183,var(--border-opacity));
    color:rgba(158,163,183,var(--text-opacity));
  }
  .base-button.--outline-reversed {
    --bg-opacity:1;
    --border-opacity:1;
    --text-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
    border-color:rgba(255,255,255,var(--border-opacity));
    border-style:solid;
    border-width:1px;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .base-button.--outline-reversed:hover {
    --bg-opacity:1;
    --text-opacity:1;
    background-color:rgba(255,255,255,var(--bg-opacity));
    color:rgba(56,127,191,var(--text-opacity));
  }
  .app-modal {
    background:rgba(0, 0, 0, 0.5);
  }
  .app-modal.--full-scrollable {
    align-items:center;
    overflow-y:auto;
  }
  .app-modal__body.--regular {
    max-width:600px;
  }
  .app-modal__body.--wide {
    max-width:680px;
  }
  .app-modal__body.--scrollable {
    max-height:400px;
    overflow:auto;
    padding-right:0.75rem;
  }
  .app-modal__body.--high-scrollable {
    max-height:calc(var(--vh, 1vh) * 80);
    overflow:auto;
    padding-right:0.75rem;
  }
  .app-modal__body {
    max-height:70vh;
    width:85vw;
  }
  .app-modal__body.--scrollable, .app-modal__body.--scrollable-mobile {
    max-height:calc(var(--vh, 1vh) * 80);
  }
  .app-modal__body.--scrollable-mobile {
    overflow:auto;
  }
  .app-modal__body.--full-scrollable {
    max-height:none;
  }
  .header-height {
    min-height:48px;
  }
  .bottom-sheet-slide-up-enter-active, .bottom-sheet-slide-up-leave-active {
    transition:all 0.5s ease 0s;
  }
  .bottom-sheet-slide-up-enter-active > .blackout, .bottom-sheet-slide-up-leave-active > .blackout {
    transition:all 0.5s ease 0s;
  }
  .bottom-sheet-slide-up-enter > .blackout, .bottom-sheet-slide-up-leave-to > .blackout {
    opacity:0;
  }
  .bottom-sheet-slide-up-enter-active > .sheet, .bottom-sheet-slide-up-leave-active > .sheet {
    transition:all 0.2s ease-in 0s;
  }
  .bottom-sheet-slide-up-enter > .sheet, .bottom-sheet-slide-up-leave-to > .sheet {
    transform:translateY(100%);
  }
  button[data-v-7b4d5325] {
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }
  .first-last[data-v-7b4d5325] {
    --bg-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
  }
  .with-half-gradient[data-v-7b4d5325]::after {
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
    content:"";
    display:block;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    width:50%;
  }
  .first-last[data-v-7b4d5325]::after {
    --bg-opacity:1;
    background-color:rgba(255,138,0,var(--bg-opacity));
  }
  .with-half-gradient.--hover-orange[data-v-7b4d5325]:hover::after {
    --bg-opacity:1;
    background-color:rgba(255,138,0,var(--bg-opacity));
  }
  .calendar-cell__price[data-v-7b4d5325] {
    font-size:9px;
  }
  .calendar-cell:hover .calendar-cell__price[data-v-7b4d5325] {
    --text-opacity:1;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .calendar-cell:hover .calendar-cell__empty-price[data-v-7b4d5325]:not(.--disabled) {
    --text-opacity:1;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .ui-calendar {
    --chocotravel-ui-calendar-container-flex-direction:row;
    --chocotravel-ui-calendar-container-spacing:0 0 0 24px;
    --chocotravel-ui-calendar-month-bg:#fff;
    --chocotravel-ui-calendar-month-border-radius:0;
    --chocotravel-ui-calendar-month-container-width:50%;
    --chocotravel-ui-calendar-month-padding:0;
  }
  .ui-calendar__container {
    flex-direction:var(--chocotravel-ui-calendar-container-flex-direction, row);
  }
  .ui-calendar__container .ui-calendar__month-container:not(.ui-calendar__month-container:first-of-type) {
    margin:var(--chocotravel-ui-calendar-container-spacing, 0 24px);
  }
  .ui-calendar__month-container {
    background-color:var(--chocotravel-ui-calendar-month-bg, #fff);
    border-radius:var(--chocotravel-ui-calendar-month-border-radius, 0);
    padding:var(--chocotravel-ui-calendar-month-padding, 0);
    width:var(--chocotravel-ui-calendar-month-container-width, 50%);
  }
  .month-item.--active {
    font-weight:600;
    position:relative;
  }
  .month-item.--active::after {
    --bg-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
    content:"";
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:3px;
  }
  .list-separator[data-v-b969d68c] {
    --bg-opacity:1;
    background-color:rgba(255,255,255,var(--bg-opacity));
    height:0.5px;
    margin-left:auto;
    margin-right:auto;
    opacity:0.4;
    width:75%;
  }
  .ui-checkbox {
    cursor:pointer;
    position:relative;
  }
  .ui-checkbox__box {
    background-position:center center;
    background-repeat:no-repeat;
    border-radius:3px;
    box-shadow:#387FBF 0 0 0 2px;
    display:inline-block;
    left:0;
    overflow:hidden;
    transition:all 0.3s ease-in 0s;
  }
  .ui-checkbox__box::after {
    background-color:#FFFFFF;
    background-image:url("/cabinet/assets/images/checkbox--white-59556f7c.svg");
    background-position:center center;
    background-repeat:no-repeat;
    content:"";
    display:block;
    transform:scale(0);
    transition:transform 0.1s ease-in 0s;
  }
  .ui-checkbox__box.--sm {
    background-size:10px;
    max-height:16px;
    max-width:16px;
    min-height:16px;
    min-width:16px;
  }
  .ui-checkbox__box.--sm::after {
    background-size:10px;
    height:16px;
    width:16px;
  }
  .ui-checkbox__box.--md {
    background-size:16px;
    max-height:20px;
    max-width:20px;
    min-height:20px;
    min-width:20px;
  }
  .ui-checkbox__box.--md::after {
    background-size:16px;
    height:20px;
    width:20px;
  }
  .ui-checkbox-input {
    clip:rect(0px, 0px, 0px, 0px);
    height:1px;
    overflow:hidden;
    position:absolute;
    width:1px;
  }
  .ui-checkbox-input:hover + .ui-checkbox__box {
    background-image:url("/cabinet/assets/images/checkbox--primary-0aac4386.svg");
  }
  .ui-checkbox-input:checked + .ui-checkbox__box::after {
    background-color:#387FBF;
    transform:scale(1);
  }
  .ui-checkbox-input:hover:checked + .ui-checkbox__box::after {
    background-image:url("/cabinet/assets/images/checkbox--white-59556f7c.svg");
    transform:scale(1);
  }
  .ui-checkbox-input:focus + .ui-checkbox__box {
    box-shadow:#387FBF 0 0 0 2px, #C9E5F3 0 0 0 4px;
  }
  .ui-checkbox-input:disabled + .ui-checkbox__box::after {
    border-color:#9EA3B7;
    cursor:not-allowed;
  }
  .ui-checkbox-input:disabled + .ui-checkbox__box {
    background-image:none;
    box-shadow:#9EA3B7 0 0 0 2px;
  }
  .ui-checkbox-input:disabled:checked + .ui-checkbox__box::after {
    background-color:#FFFFFF;
    background-image:url("/cabinet/assets/images/checkbox--gray-aac94bb7.svg");
  }
  .expand-enter-active[data-v-bcb6ffcc], .expand-leave-active[data-v-bcb6ffcc] {
    overflow:hidden;
    transition:height 0.3s ease-in 0s;
  }
  .expand-enter[data-v-bcb6ffcc], .expand-leave-to[data-v-bcb6ffcc] {
    height:0;
  }
  .locales-block-shadow[data-v-db38eaf5] {
    box-shadow:rgba(118, 182, 203, 0.25) 0 4px 20px;
  }
  .header-item[data-v-befade40] {
    align-items:center;
    border-radius:8px;
    display:flex;
    font-size:0.875rem;
    font-weight:600;
    height:2rem;
    line-height:1.25rem;
    padding-left:1rem;
    padding-right:1rem;
  }
  .locales-block-position[data-v-befade40] {
    position:absolute;
    right:0;
    top:5px;
    z-index:10;
  }
  .locales-block-position[data-v-11c66d87] {
    left:16px;
    position:absolute;
    top:14px;
  }
  .cabinet-spinner, .cabinet-spinner::after {
    border-radius:50%;
    height:50px;
    width:50px;
  }
  .cabinet-spinner {
    animation:0.8s linear 0s infinite normal none running cabinet-spinner-loader;
    border-color:rgba(56, 127, 191, 0.2) rgba(56, 127, 191, 0.2) rgba(56, 127, 191, 0.2) #387FBF;
    border-style:solid;
    border-width:8px;
    font-size:10px;
    position:relative;
    text-indent:-9999em;
    transform:translateZ(0px);
  }
  .empty-orders-image {
    height:183px;
    width:231px;
  }
  .empty-orders-image {
    height:247px;
    width:310px;
  }
  .cabinet-tooltip {
    --border-opacity:1;
    border-bottom-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    border-style:solid;
    border-width:5px;
    bottom:-10px;
    left:calc(50% - 5px);
    position:absolute;
  }
  .button-arrow-stick {
    height:2px;
    left:10px;
    top:calc(50% - 1px);
  }
  .time-line-stroke {
    left:15.5px;
  }
  .time-line {
    border-color:rgba(61, 138, 194, 0.25);
    height:1rem;
    margin-left:2px;
    width:1rem;
  }
  .time-line.--completed {
    --bg-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
    border-color:rgba(255, 255, 255, 0.75);
    height:1.25rem;
    margin:0;
    width:1.25rem;
  }
  .time-line.--error {
    --bg-opacity:1;
    background-color:rgba(235,87,87,var(--bg-opacity));
    border-color:rgba(255, 255, 255, 0.75);
    height:1.25rem;
    margin:0;
    width:1.25rem;
  }
  .time-line.--enabled {
    --border-opacity:1;
    border-color:rgba(56,127,191,var(--border-opacity));
  }
  .document-upload-description li::before {
    content:"—";
    margin-right:0.25rem;
  }
  .payment-type-container {
    background-color:#FFFFFF;
    color:var(--color-dark-text);
    transition:all 0.3s ease-in 0s;
    width:100%;
  }
  .payment-type-container:focus {
    outline:none;
  }
  .payment-type-container:focus[tabindex="0"] {
    box-shadow:0 0 0 3px var(--color-blue-focus);
  }
  .payment-type {
    display:flex;
  }
  .payment-type {
    align-items:center;
    flex-direction:column;
    padding:20px;
  }
  .payment-type:last-child {
    margin-bottom:0;
  }
  .payment-type__title {
    font-size:16px;
    font-weight:600;
    margin:0;
    max-width:200px;
    padding:0;
  }
  .payment-type__title {
    margin:12px 0;
    max-width:unset;
    text-align:center;
  }
  .payment-type__action-text {
    line-height:20px;
    margin:0;
    width:100%;
  }
  .payment-type__action-text {
    margin:8px 0;
    text-align:center;
  }
  .payment-type__action-text.--small {
    font-size:12px;
  }
  .payment-type__section {
    align-items:center;
    box-sizing:border-box;
    display:inline-flex;
    padding:24px 20px;
  }
  .payment-type__section {
    flex-direction:column;
    padding:0;
  }
  .payment-type__section.--left {
    justify-content:center;
  }
  .payment-type__section.--left {
    width:160px;
  }
  .payment-type__section.--middle {
    border-left:1px dashed var(--color-light-gray);
    border-right:1px dashed var(--color-light-gray);
    justify-content:space-between;
  }
  .payment-type__section.--middle {
    width:340px;
  }
  .payment-type__section.--middle {
    border:none;
  }
  .payment-type__section.--right {
    justify-content:space-between;
  }
  .payment-type__section.--right {
    width:500px;
  }
  .payment-type__icons {
    margin-left:8px;
    vertical-align:middle;
  }
  .payment-type__icons {
    display:block;
    margin:8px 0 0;
  }
  .payment-type-container .payment-type__section.--right {
    width:100%;
  }
  .img-preview-modal .app-modal__body {
    align-items:center;
    display:flex;
    justify-content:center;
    overflow:hidden;
  }
  .support-chat-loader[data-v-f2d5b587] {
    left:calc(50% - 20px);
    top:calc(50% - 20px);
  }
  .support-chat-container::-webkit-scrollbar {
    width:0.25rem;
  }
  .support-chat-container::-webkit-scrollbar-thumb {
    --bg-opacity:.75;
    background-color:rgba(207,209,219,var(--bg-opacity));
    border-radius:4px;
  }
  .messages-date-title::after, .messages-date-title::before {
    --bg-opacity:1;
    background-color:rgba(158,163,183,var(--bg-opacity));
    content:"";
    height:1px;
    position:absolute;
    top:calc(50% - 0.5px);
    width:1rem;
  }
  .messages-date-title::before {
    left:0;
    margin-left:-1.5rem;
  }
  .messages-date-title::after {
    margin-right:-1.5rem;
    right:0;
  }
  .support-chat-textarea {
    border-radius:22px;
    max-height:78px;
    padding-right:28px;
  }
  .support-chat-textarea::-webkit-scrollbar {
    width:6px;
  }
  .support-chat-textarea::-webkit-scrollbar-track {
    background:transparent;
    margin-block:15px;
  }
  .support-chat-textarea::-webkit-scrollbar-thumb {
    --bg-opacity:.75;
    background-clip:padding-box;
    background-color:rgba(207,209,219,var(--bg-opacity));
    border:2px solid rgba(0, 0, 0, 0);
    border-radius:9999px;
  }
  html {
    line-height:1.15;
    text-size-adjust:100%;
  }
  body {
    margin:0;
  }
  main {
    display:block;
  }
  h1 {
    font-size:2em;
    margin:0.67em 0;
  }
  hr {
    box-sizing:content-box;
    height:0;
    overflow:visible;
  }
  pre {
    font-family:monospace, monospace;
    font-size:1em;
  }
  a {
    background-color:transparent;
  }
  abbr[title] {
    border-bottom:none;
    text-decoration:underline dotted;
  }
  b, strong {
    font-weight:bolder;
  }
  code, kbd, samp {
    font-family:monospace, monospace;
    font-size:1em;
  }
  small {
    font-size:80%;
  }
  sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
  }
  sub {
    bottom:-0.25em;
  }
  sup {
    top:-0.5em;
  }
  img {
    border-style:none;
  }
  button, input, optgroup, select, textarea {
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0;
  }
  button, input {
    overflow:visible;
  }
  button, select {
    text-transform:none;
  }
  button, [type="button"], [type="submit"] {
    appearance:button;
  }
  fieldset {
    padding:0.35em 0.75em 0.625em;
  }
  legend {
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal;
  }
  progress {
    vertical-align:baseline;
  }
  textarea {
    overflow:auto;
  }
  [type="checkbox"], [type="radio"] {
    box-sizing:border-box;
    padding:0;
  }
  [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height:auto;
  }
  [type="search"] {
    appearance:textfield;
    outline-offset:-2px;
  }
  [type="search"]::-webkit-search-decoration {
    appearance:none;
  }
  details {
    display:block;
  }
  summary {
    display:list-item;
  }
  template {
    display:none;
  }
  [hidden] {
    display:none;
  }
  blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin:0;
  }
  button {
    background-color:transparent;
    background-image:none;
  }
  button:focus {
    outline:-webkit-focus-ring-color auto 5px;
  }
  fieldset {
    margin:0;
    padding:0;
  }
  ol, ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  html {
    font-family:"Open Sans", Arial, sans-serif;
    line-height:1.5;
  }
  *, ::before, ::after {
    border-color:#F0F1F4;
    border-style:solid;
    border-width:0;
    box-sizing:border-box;
  }
  hr {
    border-top-width:1px;
  }
  img {
    border-style:solid;
  }
  textarea {
    resize:vertical;
  }
  input::placeholder, textarea::placeholder {
    color:#A0AEC0;
  }
  button, [role="button"] {
    cursor:pointer;
  }
  table {
    border-collapse:collapse;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size:inherit;
    font-weight:inherit;
  }
  a {
    color:inherit;
    text-decoration:inherit;
  }
  button, input, optgroup, select, textarea {
    color:inherit;
    line-height:inherit;
    padding:0;
  }
  pre, code, kbd, samp {
    font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  img, svg, video, canvas, audio, iframe, embed, object {
    display:block;
    vertical-align:middle;
  }
  img, video {
    height:auto;
    max-width:100%;
  }
  .space-y-1 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(.25rem * var(--space-y-reverse));
    margin-top:calc(.25rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-1 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(.25rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(.25rem * var(--space-x-reverse));
  }
  .space-y-2 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(.5rem * var(--space-y-reverse));
    margin-top:calc(.5rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-2 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(.5rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(.5rem * var(--space-x-reverse));
  }
  .space-y-3 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(.75rem * var(--space-y-reverse));
    margin-top:calc(.75rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-3 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(.75rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(.75rem * var(--space-x-reverse));
  }
  .space-y-4 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(1rem * var(--space-y-reverse));
    margin-top:calc(1rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-4 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(1rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(1rem * var(--space-x-reverse));
  }
  .space-y-5 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(1.25rem * var(--space-y-reverse));
    margin-top:calc(1.25rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-5 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(1.25rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(1.25rem * var(--space-x-reverse));
  }
  .space-y-6 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(1.5rem * var(--space-y-reverse));
    margin-top:calc(1.5rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-6 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(1.5rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(1.5rem * var(--space-x-reverse));
  }
  .space-y-8 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(2rem * var(--space-y-reverse));
    margin-top:calc(2rem * calc(1 - var(--space-y-reverse)));
  }
  .space-x-8 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(2rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(2rem * var(--space-x-reverse));
  }
  .space-x-16 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(4rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(4rem * var(--space-x-reverse));
  }
  .space-y-4\.5 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(1.125rem * var(--space-y-reverse));
    margin-top:calc(1.125rem * calc(1 - var(--space-y-reverse)));
  }
  .divide-y > :not(template) ~ :not(template) {
    --divide-y-reverse:0;
    border-bottom-width:calc(1px * var(--divide-y-reverse));
    border-top-width:calc(1px * calc(1 - var(--divide-y-reverse)));
  }
  .divide-gray-350 > :not(template) ~ :not(template) {
    --divide-opacity:1;
    border-color:rgba(226,228,235,var(--divide-opacity));
  }
  .appearance-none {
    appearance:none;
  }
  .bg-transparent {
    background-color:transparent;
  }
  .bg-black {
    --bg-opacity:1;
    background-color:rgba(0,0,0,var(--bg-opacity));
  }
  .bg-white {
    --bg-opacity:1;
    background-color:rgba(255,255,255,var(--bg-opacity));
  }
  .bg-red-500 {
    --bg-opacity:1;
    background-color:rgba(235,87,87,var(--bg-opacity));
  }
  .bg-blue-300 {
    --bg-opacity:1;
    background-color:rgba(239,249,254,var(--bg-opacity));
  }
  .bg-blue-350 {
    --bg-opacity:1;
    background-color:rgba(221,239,248,var(--bg-opacity));
  }
  .bg-blue-450 {
    --bg-opacity:1;
    background-color:rgba(201,229,243,var(--bg-opacity));
  }
  .bg-blue-500 {
    --bg-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
  }
  .bg-blue-550 {
    --bg-opacity:1;
    background-color:rgba(61,138,194,var(--bg-opacity));
  }
  .bg-blue-600 {
    --bg-opacity:1;
    background-color:rgba(20,99,170,var(--bg-opacity));
  }
  .bg-blue-650 {
    --bg-opacity:1;
    background-color:rgba(32,109,165,var(--bg-opacity));
  }
  .bg-orange-300 {
    --bg-opacity:1;
    background-color:rgba(255,243,229,var(--bg-opacity));
  }
  .bg-orange-500 {
    --bg-opacity:1;
    background-color:rgba(255,138,0,var(--bg-opacity));
  }
  .bg-orange-600 {
    --bg-opacity:1;
    background-color:rgba(229,124,0,var(--bg-opacity));
  }
  .bg-gray-200 {
    --bg-opacity:1;
    background-color:rgba(245,246,248,var(--bg-opacity));
  }
  .bg-gray-300 {
    --bg-opacity:1;
    background-color:rgba(240,241,244,var(--bg-opacity));
  }
  .bg-gray-350 {
    --bg-opacity:1;
    background-color:rgba(226,228,235,var(--bg-opacity));
  }
  .bg-gray-400 {
    --bg-opacity:1;
    background-color:rgba(207,209,219,var(--bg-opacity));
  }
  .bg-gray-500 {
    --bg-opacity:1;
    background-color:rgba(158,163,183,var(--bg-opacity));
  }
  .hover\:bg-transparent:hover {
    background-color:transparent;
  }
  .hover\:bg-blue-500:hover {
    --bg-opacity:1;
    background-color:rgba(56,127,191,var(--bg-opacity));
  }
  .hover\:bg-blue-600:hover {
    --bg-opacity:1;
    background-color:rgba(20,99,170,var(--bg-opacity));
  }
  .hover\:bg-orange-500:hover {
    --bg-opacity:1;
    background-color:rgba(255,138,0,var(--bg-opacity));
  }
  .hover\:bg-orange-600:hover {
    --bg-opacity:1;
    background-color:rgba(229,124,0,var(--bg-opacity));
  }
  .hover\:bg-gray-300:hover {
    --bg-opacity:1;
    background-color:rgba(240,241,244,var(--bg-opacity));
  }
  .active\:bg-orange-600:active {
    --bg-opacity:1;
    background-color:rgba(229,124,0,var(--bg-opacity));
  }
  .bg-none {
    background-image:none;
  }
  .bg-gradient-to-r {
    background-image:linear-gradient(to right,var(--gradient-color-stops));
  }
  .bg-gradient-to-l {
    background-image:linear-gradient(to left,var(--gradient-color-stops));
  }
  .from-transparent {
    --gradient-color-stops:var(--gradient-from-color), var(--gradient-to-color, rgba(0, 0, 0, 0));
    --gradient-from-color:transparent;
  }
  .to-blue-350 {
    --gradient-to-color:#DDEFF8;
  }
  .hover\:to-transparent:hover {
    --gradient-to-color:transparent;
  }
  .bg-opacity-50 {
    --bg-opacity:.5;
  }
  .bg-opacity-75 {
    --bg-opacity:.75;
  }
  .border-white {
    --border-opacity:1;
    border-color:rgba(255,255,255,var(--border-opacity));
  }
  .border-red-500 {
    --border-opacity:1;
    border-color:rgba(235,87,87,var(--border-opacity));
  }
  .border-blue-500 {
    --border-opacity:1;
    border-color:rgba(56,127,191,var(--border-opacity));
  }
  .border-blue-550 {
    --border-opacity:1;
    border-color:rgba(61,138,194,var(--border-opacity));
  }
  .border-orange-400 {
    --border-opacity:1;
    border-color:rgba(255,178,87,var(--border-opacity));
  }
  .border-orange-500 {
    --border-opacity:1;
    border-color:rgba(255,138,0,var(--border-opacity));
  }
  .border-gray-300 {
    --border-opacity:1;
    border-color:rgba(240,241,244,var(--border-opacity));
  }
  .border-gray-400 {
    --border-opacity:1;
    border-color:rgba(207,209,219,var(--border-opacity));
  }
  .border-gray-500 {
    --border-opacity:1;
    border-color:rgba(158,163,183,var(--border-opacity));
  }
  .border-opacity-25 {
    --border-opacity:.25;
  }
  .border-opacity-100 {
    --border-opacity:1;
  }
  .rounded-none {
    border-radius:0;
  }
  .rounded {
    border-radius:4px;
  }
  .rounded-lg {
    border-radius:8px;
  }
  .rounded-xl {
    border-radius:12px;
  }
  .rounded-full {
    border-radius:9999px;
  }
  .rounded-2xl {
    border-radius:1rem;
  }
  .rounded-r {
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
  }
  .rounded-l {
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
  }
  .rounded-t-lg {
    border-top-left-radius:8px;
    border-top-right-radius:8px;
  }
  .rounded-b-lg {
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
  }
  .rounded-l-lg {
    border-bottom-left-radius:8px;
    border-top-left-radius:8px;
  }
  .rounded-t-xl {
    border-top-left-radius:12px;
    border-top-right-radius:12px;
  }
  .border-solid {
    border-style:solid;
  }
  .border-none {
    border-style:none;
  }
  .border-0 {
    border-width:0;
  }
  .border-2 {
    border-width:2px;
  }
  .border-3 {
    border-width:3px;
  }
  .border {
    border-width:1px;
  }
  .border-r {
    border-right-width:1px;
  }
  .border-b {
    border-bottom-width:1px;
  }
  .box-border {
    box-sizing:border-box;
  }
  .cursor-pointer {
    cursor:pointer;
  }
  .cursor-not-allowed {
    cursor:not-allowed;
  }
  .block {
    display:block;
  }
  .inline-block {
    display:inline-block;
  }
  .flex {
    display:flex;
  }
  .inline-flex {
    display:inline-flex;
  }
  .table {
    display:table;
  }
  .grid {
    display:grid;
  }
  .hidden {
    display:none;
  }
  .flex-col {
    flex-direction:column;
  }
  .flex-col-reverse {
    flex-direction:column-reverse;
  }
  .flex-wrap {
    flex-wrap:wrap;
  }
  .items-start {
    align-items:flex-start;
  }
  .items-center {
    align-items:center;
  }
  .items-baseline {
    align-items:baseline;
  }
  .items-stretch {
    align-items:stretch;
  }
  .justify-start {
    justify-content:flex-start;
  }
  .justify-end {
    justify-content:flex-end;
  }
  .justify-center {
    justify-content:center;
  }
  .justify-between {
    justify-content:space-between;
  }
  .justify-evenly {
    justify-content:space-evenly;
  }
  .flex-1 {
    flex:1 1 0;
  }
  .flex-grow {
    flex-grow:1;
  }
  .flex-shrink-0 {
    flex-shrink:0;
  }
  .font-normal {
    font-weight:400;
  }
  .font-semibold {
    font-weight:600;
  }
  .font-bold {
    font-weight:700;
  }
  .h-0 {
    height:0;
  }
  .h-1 {
    height:0.25rem;
  }
  .h-2 {
    height:0.5rem;
  }
  .h-3 {
    height:0.75rem;
  }
  .h-4 {
    height:1rem;
  }
  .h-5 {
    height:1.25rem;
  }
  .h-6 {
    height:1.5rem;
  }
  .h-8 {
    height:2rem;
  }
  .h-10 {
    height:2.5rem;
  }
  .h-12 {
    height:3rem;
  }
  .h-16 {
    height:4rem;
  }
  .h-auto {
    height:auto;
  }
  .h-px {
    height:1px;
  }
  .h-full {
    height:100%;
  }
  .text-xs {
    font-size:0.75rem;
  }
  .text-sm {
    font-size:0.875rem;
  }
  .text-base {
    font-size:1rem;
  }
  .text-lg {
    font-size:1.125rem;
  }
  .text-xl {
    font-size:1.25rem;
  }
  .text-2xl {
    font-size:1.5rem;
  }
  .text-3xl {
    font-size:1.875rem;
  }
  .text-2xs {
    font-size:10px;
  }
  .leading-4 {
    line-height:1rem;
  }
  .leading-5 {
    line-height:1.25rem;
  }
  .leading-6 {
    line-height:1.5rem;
  }
  .leading-7 {
    line-height:1.75rem;
  }
  .leading-none {
    line-height:1;
  }
  .leading-tight {
    line-height:1.25;
  }
  .leading-snug {
    line-height:1.375;
  }
  .leading-normal {
    line-height:1.5;
  }
  .leading-relaxed {
    line-height:1.625;
  }
  .leading-6\.5 {
    line-height:1.6rem;
  }
  .leading-7\.5 {
    line-height:1.875rem;
  }
  .list-inside {
    list-style-position:inside;
  }
  .list-disc {
    list-style-type:disc;
  }
  .m-0 {
    margin:0;
  }
  .m-5 {
    margin:1.25rem;
  }
  .my-0 {
    margin-bottom:0;
    margin-top:0;
  }
  .my-2 {
    margin-bottom:0.5rem;
    margin-top:0.5rem;
  }
  .my-3 {
    margin-bottom:0.75rem;
    margin-top:0.75rem;
  }
  .my-4 {
    margin-bottom:1rem;
    margin-top:1rem;
  }
  .mx-4 {
    margin-left:1rem;
    margin-right:1rem;
  }
  .my-6 {
    margin-bottom:1.5rem;
    margin-top:1.5rem;
  }
  .mx-auto {
    margin-left:auto;
    margin-right:auto;
  }
  .-mx-4 {
    margin-left:-1rem;
    margin-right:-1rem;
  }
  .mt-0 {
    margin-top:0;
  }
  .mb-0 {
    margin-bottom:0;
  }
  .mt-1 {
    margin-top:0.25rem;
  }
  .mr-1 {
    margin-right:0.25rem;
  }
  .mb-1 {
    margin-bottom:0.25rem;
  }
  .ml-1 {
    margin-left:0.25rem;
  }
  .mt-2 {
    margin-top:0.5rem;
  }
  .mr-2 {
    margin-right:0.5rem;
  }
  .mb-2 {
    margin-bottom:0.5rem;
  }
  .ml-2 {
    margin-left:0.5rem;
  }
  .mt-3 {
    margin-top:0.75rem;
  }
  .mr-3 {
    margin-right:0.75rem;
  }
  .mb-3 {
    margin-bottom:0.75rem;
  }
  .ml-3 {
    margin-left:0.75rem;
  }
  .mt-4 {
    margin-top:1rem;
  }
  .mr-4 {
    margin-right:1rem;
  }
  .mb-4 {
    margin-bottom:1rem;
  }
  .ml-4 {
    margin-left:1rem;
  }
  .mt-5 {
    margin-top:1.25rem;
  }
  .mb-5 {
    margin-bottom:1.25rem;
  }
  .mt-6 {
    margin-top:1.5rem;
  }
  .mr-6 {
    margin-right:1.5rem;
  }
  .mb-6 {
    margin-bottom:1.5rem;
  }
  .ml-6 {
    margin-left:1.5rem;
  }
  .mt-8 {
    margin-top:2rem;
  }
  .mb-8 {
    margin-bottom:2rem;
  }
  .ml-8 {
    margin-left:2rem;
  }
  .ml-12 {
    margin-left:3rem;
  }
  .mr-17 {
    margin-right:4.25rem;
  }
  .mr-auto {
    margin-right:auto;
  }
  .ml-auto {
    margin-left:auto;
  }
  .mb-px {
    margin-bottom:1px;
  }
  .-mt-1 {
    margin-top:-0.25rem;
  }
  .-mb-4 {
    margin-bottom:-1rem;
  }
  .-mr-6 {
    margin-right:-1.5rem;
  }
  .-mr-8 {
    margin-right:-2rem;
  }
  .first\:mt-0:first-child {
    margin-top:0;
  }
  .first\:ml-0:first-child {
    margin-left:0;
  }
  .max-h-full {
    max-height:100%;
  }
  .max-h-screen {
    max-height:100vh;
  }
  .max-w-full {
    max-width:100%;
  }
  .min-h-0 {
    min-height:0;
  }
  .min-h-12 {
    min-height:3rem;
  }
  .min-h-full {
    min-height:100%;
  }
  .min-h-screen {
    min-height:100vh;
  }
  .min-w-0 {
    min-width:0;
  }
  .opacity-0 {
    opacity:0;
  }
  .opacity-25 {
    opacity:0.25;
  }
  .opacity-50 {
    opacity:0.5;
  }
  .opacity-75 {
    opacity:0.75;
  }
  .opacity-100, .hover\:opacity-100:hover {
    opacity:1;
  }
  .outline-none {
    outline:transparent solid 2px;
    outline-offset:2px;
  }
  .focus\:outline-none:focus {
    outline:transparent solid 2px;
    outline-offset:2px;
  }
  .overflow-auto {
    overflow:auto;
  }
  .overflow-hidden {
    overflow:hidden;
  }
  .overflow-visible {
    overflow:visible;
  }
  .overflow-y-auto {
    overflow-y:auto;
  }
  .overflow-x-hidden {
    overflow-x:hidden;
  }
  .overflow-x-scroll {
    overflow-x:scroll;
  }
  .overflow-y-scroll {
    overflow-y:scroll;
  }
  .overscroll-none {
    overscroll-behavior:none;
  }
  .p-0 {
    padding:0;
  }
  .p-1 {
    padding:0.25rem;
  }
  .p-2 {
    padding:0.5rem;
  }
  .p-3 {
    padding:0.75rem;
  }
  .p-4 {
    padding:1rem;
  }
  .p-6 {
    padding:1.5rem;
  }
  .p-8 {
    padding:2rem;
  }
  .p-px {
    padding:1px;
  }
  .px-0 {
    padding-left:0;
    padding-right:0;
  }
  .py-1 {
    padding-bottom:0.25rem;
    padding-top:0.25rem;
  }
  .px-1 {
    padding-left:0.25rem;
    padding-right:0.25rem;
  }
  .py-2 {
    padding-bottom:0.5rem;
    padding-top:0.5rem;
  }
  .px-2 {
    padding-left:0.5rem;
    padding-right:0.5rem;
  }
  .py-3 {
    padding-bottom:0.75rem;
    padding-top:0.75rem;
  }
  .px-3 {
    padding-left:0.75rem;
    padding-right:0.75rem;
  }
  .py-4 {
    padding-bottom:1rem;
    padding-top:1rem;
  }
  .px-4 {
    padding-left:1rem;
    padding-right:1rem;
  }
  .py-5 {
    padding-bottom:1.25rem;
    padding-top:1.25rem;
  }
  .px-5 {
    padding-left:1.25rem;
    padding-right:1.25rem;
  }
  .px-6 {
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  .py-8 {
    padding-bottom:2rem;
    padding-top:2rem;
  }
  .px-10 {
    padding-left:2.5rem;
    padding-right:2.5rem;
  }
  .py-16 {
    padding-bottom:4rem;
    padding-top:4rem;
  }
  .py-2\.5 {
    padding-bottom:0.625rem;
    padding-top:0.625rem;
  }
  .py-4\.5 {
    padding-bottom:1.125rem;
    padding-top:1.125rem;
  }
  .pt-1 {
    padding-top:0.25rem;
  }
  .pb-1 {
    padding-bottom:0.25rem;
  }
  .pl-1 {
    padding-left:0.25rem;
  }
  .pt-2 {
    padding-top:0.5rem;
  }
  .pr-2 {
    padding-right:0.5rem;
  }
  .pr-3 {
    padding-right:0.75rem;
  }
  .pl-3 {
    padding-left:0.75rem;
  }
  .pt-4 {
    padding-top:1rem;
  }
  .pb-4 {
    padding-bottom:1rem;
  }
  .pl-4 {
    padding-left:1rem;
  }
  .pb-5 {
    padding-bottom:1.25rem;
  }
  .pt-6 {
    padding-top:1.5rem;
  }
  .pb-6 {
    padding-bottom:1.5rem;
  }
  .pb-8 {
    padding-bottom:2rem;
  }
  .pt-10 {
    padding-top:2.5rem;
  }
  .pb-10 {
    padding-bottom:2.5rem;
  }
  .pt-12 {
    padding-top:3rem;
  }
  .pr-12 {
    padding-right:3rem;
  }
  .pb-12 {
    padding-bottom:3rem;
  }
  .pl-16 {
    padding-left:4rem;
  }
  .pb-px {
    padding-bottom:1px;
  }
  .static {
    position:static;
  }
  .fixed {
    position:fixed;
  }
  .absolute {
    position:absolute;
  }
  .relative {
    position:relative;
  }
  .sticky {
    position:sticky;
  }
  .inset-0 {
    inset:0;
  }
  .top-0 {
    top:0;
  }
  .right-0 {
    right:0;
  }
  .bottom-0 {
    bottom:0;
  }
  .left-0 {
    left:0;
  }
  .right-auto {
    right:auto;
  }
  .left-auto {
    left:auto;
  }
  .resize-none {
    resize:none;
  }
  .shadow {
    box-shadow:rgba(0, 0, 0, 0.1) 0 1px 3px;
  }
  .shadow-md {
    box-shadow:rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
  }
  .focus\:shadow-outline:focus {
    box-shadow:rgba(66, 153, 225, 0.5) 0 0 0 3px;
  }
  .focus\:shadow-none:focus {
    box-shadow:none;
  }
  .fill-current {
    fill:currentcolor;
  }
  .stroke-current {
    stroke:currentcolor;
  }
  .text-left {
    text-align:left;
  }
  .text-center {
    text-align:center;
  }
  .text-right {
    text-align:right;
  }
  .text-black {
    --text-opacity:1;
    color:rgba(0,0,0,var(--text-opacity));
  }
  .text-black-primary {
    --text-opacity:1;
    color:rgba(56,56,56,var(--text-opacity));
  }
  .text-white {
    --text-opacity:1;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .text-red-400 {
    --text-opacity:1;
    color:rgba(239,129,129,var(--text-opacity));
  }
  .text-red-500 {
    --text-opacity:1;
    color:rgba(235,87,87,var(--text-opacity));
  }
  .text-green-500 {
    --text-opacity:1;
    color:rgba(39,174,96,var(--text-opacity));
  }
  .text-blue-400 {
    --text-opacity:1;
    color:rgba(96,153,204,var(--text-opacity));
  }
  .text-blue-500 {
    --text-opacity:1;
    color:rgba(56,127,191,var(--text-opacity));
  }
  .text-blue-550 {
    --text-opacity:1;
    color:rgba(61,138,194,var(--text-opacity));
  }
  .text-orange-500 {
    --text-opacity:1;
    color:rgba(255,138,0,var(--text-opacity));
  }
  .text-gray-400 {
    --text-opacity:1;
    color:rgba(207,209,219,var(--text-opacity));
  }
  .text-gray-500 {
    --text-opacity:1;
    color:rgba(158,163,183,var(--text-opacity));
  }
  .text-gray-550 {
    --text-opacity:1;
    color:rgba(152,154,159,var(--text-opacity));
  }
  .text-gray-600 {
    --text-opacity:1;
    color:rgba(117,124,153,var(--text-opacity));
  }
  .hover\:text-white:hover {
    --text-opacity:1;
    color:rgba(255,255,255,var(--text-opacity));
  }
  .hover\:text-blue-600:hover {
    --text-opacity:1;
    color:rgba(20,99,170,var(--text-opacity));
  }
  .active\:text-blue-500:active {
    --text-opacity:1;
    color:rgba(56,127,191,var(--text-opacity));
  }
  .active\:text-blue-600:active {
    --text-opacity:1;
    color:rgba(20,99,170,var(--text-opacity));
  }
  .text-opacity-50 {
    --text-opacity:.5;
  }
  .uppercase {
    text-transform:uppercase;
  }
  .underline {
    text-decoration:underline;
  }
  .no-underline {
    text-decoration:none;
  }
  .visible {
    visibility:visible;
  }
  .whitespace-no-wrap {
    white-space:nowrap;
  }
  .break-words {
    overflow-wrap:break-word;
  }
  .truncate {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .w-0 {
    width:0;
  }
  .w-2 {
    width:0.5rem;
  }
  .w-3 {
    width:0.75rem;
  }
  .w-4 {
    width:1rem;
  }
  .w-5 {
    width:1.25rem;
  }
  .w-6 {
    width:1.5rem;
  }
  .w-8 {
    width:2rem;
  }
  .w-10 {
    width:2.5rem;
  }
  .w-12 {
    width:3rem;
  }
  .w-16 {
    width:4rem;
  }
  .w-32 {
    width:8rem;
  }
  .w-40 {
    width:10rem;
  }
  .w-48 {
    width:12rem;
  }
  .w-82 {
    width:21.5rem;
  }
  .w-auto {
    width:auto;
  }
  .w-desktop {
    width:1000px;
  }
  .w-1\/2 {
    width:50%;
  }
  .w-1\/3 {
    width:33.3333%;
  }
  .w-1\/4 {
    width:25%;
  }
  .w-2\/4 {
    width:50%;
  }
  .w-3\/4 {
    width:75%;
  }
  .w-1\/5 {
    width:20%;
  }
  .w-4\/5 {
    width:80%;
  }
  .w-10\/12 {
    width:83.3333%;
  }
  .w-full {
    width:100%;
  }
  .w-fit {
    width:fit-content;
  }
  .z-0 {
    z-index:0;
  }
  .z-10 {
    z-index:10;
  }
  .z-20 {
    z-index:20;
  }
  .z-notification {
    z-index:1000;
  }
  .z-dropdown {
    z-index:1200;
  }
  .z-modal {
    z-index:1800;
  }
  .hover\:z-20:hover {
    z-index:20;
  }
  .gap-2 {
    gap:0.5rem;
  }
  .gap-3 {
    gap:0.75rem;
  }
  .gap-8 {
    gap:2rem;
  }
  .col-gap-3 {
    column-gap:0.75rem;
  }
  .row-gap-1 {
    row-gap:0.25rem;
  }
  .row-gap-8 {
    row-gap:2rem;
  }
  .gap-y-1 {
    row-gap:0.25rem;
  }
  .grid-cols-2 {
    grid-template-columns:repeat(2, minmax(0px, 1fr));
  }
  .grid-cols-3 {
    grid-template-columns:repeat(3, minmax(0px, 1fr));
  }
  .transform {
    --transform-rotate:0;
    --transform-scale-x:1;
    --transform-scale-y:1;
    --transform-skew-x:0;
    --transform-skew-y:0;
    --transform-translate-x:0;
    --transform-translate-y:0;
    transform:translate(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skew(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  }
  .scale-100 {
    --transform-scale-x:1;
    --transform-scale-y:1;
  }
  .hover\:scale-150:hover {
    --transform-scale-x:1.5;
    --transform-scale-y:1.5;
  }
  .rotate-1\/4 {
    --transform-rotate:90deg;
  }
  .rotate-1\/2 {
    --transform-rotate:180deg;
  }
  .rotate-3\/4 {
    --transform-rotate:270deg;
  }
  .-translate-y-8 {
    --transform-translate-y:-2rem;
  }
  .transition-all {
    transition-property:all;
  }
  .transition {
    transition-property:background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  }
  .transition-colors {
    transition-property:background-color, border-color, color, fill, stroke;
  }
  .ease-linear {
    transition-timing-function:linear;
  }
  .ease-in {
    transition-timing-function:cubic-bezier(0.4, 0, 1, 1);
  }
  .ease-out {
    transition-timing-function:cubic-bezier(0, 0, 0.2, 1);
  }
  .duration-150 {
    transition-duration:0.15s;
  }
  .duration-200 {
    transition-duration:0.2s;
  }
  .duration-300 {
    transition-duration:0.3s;
  }
  .duration-500 {
    transition-duration:0.5s;
  }
  .animate-spin {
    animation:1s linear 0s infinite normal none running spin;
  }
  .rotate-1\/4 {
    transform:rotate(90deg);
  }
  .rotate-1\/2 {
    transform:rotate(180deg);
  }
  .rotate-3\/4 {
    transform:rotate(270deg);
  }
  :root {
    color:#000000;
    font-family:"Open Sans", Arial, sans-serif;
  }
  html, body, #app {
    height:100%;
    min-height:100vh;
    width:100%;
  }
  button:focus {
    outline:transparent solid 2px;
    outline-offset:2px;
  }
  .loader-block-height {
    height:40vh;
  }
  .sm\:text-sm {
    font-size:0.875rem;
  }
  .sm\:px-6 {
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  .md\:w-100 {
    width:25rem;
  }
  .lg\:space-y-1 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(.25rem * var(--space-y-reverse));
    margin-top:calc(.25rem * calc(1 - var(--space-y-reverse)));
  }
  .lg\:space-x-3 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(.75rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(.75rem * var(--space-x-reverse));
  }
  .lg\:space-y-4 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(1rem * var(--space-y-reverse));
    margin-top:calc(1rem * calc(1 - var(--space-y-reverse)));
  }
  .lg\:space-x-4 > :not(template) ~ :not(template) {
    --space-x-reverse:0;
    margin-left:calc(1rem * calc(1 - var(--space-x-reverse)));
    margin-right:calc(1rem * var(--space-x-reverse));
  }
  .lg\:space-y-5 > :not(template) ~ :not(template) {
    --space-y-reverse:0;
    margin-bottom:calc(1.25rem * var(--space-y-reverse));
    margin-top:calc(1.25rem * calc(1 - var(--space-y-reverse)));
  }
  .lg\:border-2 {
    border-width:2px;
  }
  .lg\:flex {
    display:flex;
  }
  .lg\:hidden {
    display:none;
  }
  .lg\:flex-row {
    flex-direction:row;
  }
  .lg\:justify-start {
    justify-content:flex-start;
  }
  .lg\:h-4 {
    height:1rem;
  }
  .lg\:h-6 {
    height:1.5rem;
  }
  .lg\:h-12 {
    height:3rem;
  }
  .lg\:text-sm {
    font-size:0.875rem;
  }
  .lg\:text-base {
    font-size:1rem;
  }
  .lg\:text-lg {
    font-size:1.125rem;
  }
  .lg\:text-xl {
    font-size:1.25rem;
  }
  .lg\:text-2xl {
    font-size:1.5rem;
  }
  .lg\:leading-snug {
    line-height:1.375;
  }
  .lg\:mt-0 {
    margin-top:0;
  }
  .lg\:mr-4 {
    margin-right:1rem;
  }
  .lg\:mt-5 {
    margin-top:1.25rem;
  }
  .lg\:mt-10 {
    margin-top:2.5rem;
  }
  .lg\:p-3 {
    padding:0.75rem;
  }
  .lg\:py-3 {
    padding-bottom:0.75rem;
    padding-top:0.75rem;
  }
  .lg\:px-6 {
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  .lg\:py-10 {
    padding-bottom:2.5rem;
    padding-top:2.5rem;
  }
  .lg\:pb-3 {
    padding-bottom:0.75rem;
  }
  .lg\:w-4 {
    width:1rem;
  }
  .lg\:w-6 {
    width:1.5rem;
  }
  .lg\:w-12 {
    width:3rem;
  }
  .lg\:w-64 {
    width:16rem;
  }
  .lg\:w-1\/2 {
    width:50%;
  }
  .lg\:w-9\/12 {
    width:75%;
  }
  .lg\:col-gap-4 {
    column-gap:1rem;
  }
  .fade-enter-active, .fade-leave-active {
    transition-property:opacity;
  }
  .fade-enter, .fade-leave-to {
    opacity:0;
  }
  .slide-up-enter-active, .slide-up-leave-active {
    transition-property:transform, opacity;
    transition-timing-function:cubic-bezier(0.55, 0, 0.1, 1);
  }
  .slide-up-enter, .slide-up-leave-to {
    opacity:0;
    transform:translateY(40px);
  }
  .slide-down-enter-active, .slide-up-down-active {
    transition-property:transform, opacity;
    transition-timing-function:cubic-bezier(0.55, 0, 0.1, 1);
  }
  .slide-down-enter, .slide-down-leave-to {
    opacity:0;
    transform:translateY(-40px);
  }
  .slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active {
    overflow:hidden;
    transition-duration:0.5s;
    transition-property:height, opacity, transform;
    transition-timing-function:cubic-bezier(0.55, 0, 0.1, 1);
  }
  .slide-right-enter, .slide-right-leave-active {
    opacity:0;
    transform:translate(3em);
  }
  .slide-left-leave-active, .slide-left-enter {
    transform:translate(-3em);
  }
  .scale-enter-active, .scale-leave-active {
    transition:all 0.1s ease-in 0s;
  }
  .scale-enter, .scale-leave-to {
    opacity:0;
    transform:scale(var(--ui-scale-factor, .6));
  }
  