
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecfbff;
}


header {
    background-color: #fff;
    color: #333;
    padding: 0 30px;
    margin-top: 0;
}

.header_list {
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-item {
    display: inline-block; 
    margin: 0 10px;
    font-size: 14px; /* Размер шрифта */
    border-left: 1px solid #ccc;
    padding: 10px;
}

.menu-item-signin{
    display: inline-block; 
    margin: 0 10px;
    font-size: 14px; /* Размер шрифта */
    padding: 10px;
}

.info{
    display: flex;
    flex-direction: column;
}

header li:hover {
    text-decoration: underline;
    cursor: pointer; 
}


a {
    text-decoration: none; 
    color: #007BFF; 
    font-weight: bold; 
}

/* Стилизация ссылок при наведении */
a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора */
    color: #0056b3; /* Изменяем цвет текста при наведении */
}

