
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecfbff;
}


header {
    background-color: #fff;
    color: #333;
    padding: 0 30px;
    margin: 0;
}

.header_list {
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header li {
    display: inline-block; /* Отображение элементов списка в строку */
    margin: 0 10px; /* Внешний отступ между элементами списка */
    font-size: 14px; /* Размер шрифта */
    border-left: 1px solid #ccc;
    padding: 10px;
}

header li:hover {
    text-decoration: underline; /* Подчеркивание текста при наведении курсора */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Стилизация обычных состояний ссылок */
a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #007BFF; /* Задаем цвет текста */
    font-weight: bold; /* Задаем жирное начертание текста */
}

/* Стилизация ссылок при наведении */
a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора */
    color: #0056b3; /* Изменяем цвет текста при наведении */
}

