.base-button {
    cursor: pointer
}

.base-button:disabled {
    cursor: not-allowed
}

.base-button.\--rect {
    border-radius: 4px
}

.base-button.\--rounded-rect {
    border-radius: 8px
}

.app-modal {
    background: rgba(0, 0, 0, .5)
}

.app-modal.\--full-scrollable {
    overflow-y: auto;
    align-items: center
}

.app-modal__body.\--regular {
    max-width: 600px
}

.app-modal__body.\--wide {
    max-width: 680px
}

.app-modal__body.\--scrollable {
    max-height: 400px;
    padding-right: .75rem;
    overflow: auto
}

.app-modal__body.\--high-scrollable {
    max-height: 80vh;
    max-height: calc(var(--vh, 1vh) * 80);
    padding-right: .75rem;
    overflow: auto
}

@media screen and (max-width:639px) {
    .app-modal__body {
        width: 85vw;
        max-height: 70vh
    }
    .app-modal__body.\--scrollable,
    .app-modal__body.\--scrollable-mobile {
        max-height: 80vh;
        max-height: calc(var(--vh, 1vh) * 80)
    }
    .app-modal__body.\--scrollable-mobile {
        overflow: auto
    }
    .app-modal__body.\--full-scrollable {
        max-height: none
    }
}

.header-height {
    min-height: 48px
}

.bottom-sheet-slide-up-enter-active,
.bottom-sheet-slide-up-enter-active>.blackout,
.bottom-sheet-slide-up-leave-active,
.bottom-sheet-slide-up-leave-active>.blackout {
    transition: .5s
}

.bottom-sheet-slide-up-enter>.blackout,
.bottom-sheet-slide-up-leave-to>.blackout {
    opacity: 0
}

.bottom-sheet-slide-up-enter-active>.sheet,
.bottom-sheet-slide-up-leave-active>.sheet {
    transition: .2s ease-in
}

.bottom-sheet-slide-up-enter>.sheet,
.bottom-sheet-slide-up-leave-to>.sheet {
    transform: translateY(100%)
}

button[data-v-5976fca9] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.first-last[data-v-5976fca9] {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56, 127, 191, var(--bg-opacity))
}

.with-half-gradient[data-v-5976fca9]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.first-last[data-v-5976fca9]:after,
.with-half-gradient.\--hover-orange[data-v-5976fca9]:hover:after {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255, 138, 0, var(--bg-opacity))
}

.calendar-cell__price[data-v-5976fca9] {
    font-size: 9px
}

.calendar-cell:hover .calendar-cell__empty-price[data-v-5976fca9]:not(.\--disabled),
.calendar-cell:hover .calendar-cell__price[data-v-5976fca9] {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.ui-calendar {
    --chocotravel-ui-calendar-container-flex-direction: row;
    --chocotravel-ui-calendar-container-spacing: 0 0 0 24px;
    --chocotravel-ui-calendar-month-container-width: 50%;
    --chocotravel-ui-calendar-month-border-radius: 0;
    --chocotravel-ui-calendar-month-padding: 0;
    --chocotravel-ui-calendar-month-bg: #fff
}

.ui-calendar__container {
    flex-direction: var(--chocotravel-ui-calendar-container-flex-direction, row)
}

.ui-calendar__container .ui-calendar__month-container:not(.ui-calendar__month-container:first-of-type) {
    margin: var(--chocotravel-ui-calendar-container-spacing, 0 24px)
}

.ui-calendar__month-container {
    width: var(--chocotravel-ui-calendar-month-container-width, 50%);
    padding: var(--chocotravel-ui-calendar-month-padding, 0);
    background-color: var(--chocotravel-ui-calendar-month-bg, #fff);
    border-radius: var(--chocotravel-ui-calendar-month-border-radius, 0)
}

.month-item.\--active {
    position: relative;
    font-weight: 600
}

.month-item.\--active:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56, 127, 191, var(--bg-opacity));
    content: "";
    width: 3px
}

.main-calendar-container {
    width: 820px;
    transform: translateX(-50.5%)
}

.near-date-item:hover .near-date-item__content {
    --bg-opacity: 1;
    background-color: #eff9fe;
    background-color: rgba(239, 249, 254, var(--bg-opacity))
}

.near-date-item:hover .near-date-item__date {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity))
}

.shimmer {
    background: #eee;
    background-image: linear-gradient(90deg, #eee 0, #eee 40%, #f5f5f5 45%, #f5f5f5 55%, #eee 60%, #eee);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear
}

@keyframes shimmer {
    0% {
        background-position: -468px 0
    }
    to {
        background-position: 468px 0
    }
}

.expand-enter-active,
.expand-leave-active {
    transition: height .3s ease-in;
    overflow: hidden
}

.expand-enter,
.expand-leave-to {
    height: 0
}

.slide-in-enter-active,
.slide-in-leave-active {
    transition: all .3s ease
}

.slide-in-enter {
    transform: translateY(-10px);
    opacity: 0
}

.slide-in-leave-to {
    transform: translateY(20px);
    opacity: 0
}

.filters__checkbox-wrapper {
    justify-content: space-between;
    margin: 10px 10px 10px 0;
    align-items: center;
    border-color: #fff;
    position: relative;
    line-height: 13px;
    text-align: left;
    cursor: pointer;
    color: #fff;
    display: flex
}

.filters__checkbox-wrapper--indropdown {
    transition: .3s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    color: #323232;
    display: flex;
    height: 35px;
    padding: 0;
    margin: 0
}

.filters__checkbox-wrapper--indropdown:hover:before {
    pointer-events: none;
    background: #e7f4fc;
    position: absolute;
    display: block;
    height: 100%;
    content: "";
    width: 100%;
    opacity: .5;
    z-index: 1;
    left: 0;
    top: 0
}

.filters__checkbox-wrapper--radio {
    padding-left: 10px
}

.filters__checkbox-wrapper--row {
    margin-right: 40px
}

.filters__checkbox-wrapper--disabled {
    cursor: not-allowed;
    opacity: .6
}

.filters__checkbox-title {
    line-height: 1rem;
    overflow: hidden;
    font-size: 13px;
    color: inherit;
    max-width: 20ch
}

.filters__checkbox-replacer {
    box-sizing: border-box;
    border-color: inherit;
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid;
    height: 18px;
    width: 18px;
    transition: .2s ease-in-out;
    background-position: 50%;
    background-size: 12px 9px
}

.filters__checkbox-replacer-title {
    justify-content: center;
    align-items: center;
    display: flex
}

.filters__checkbox-replacer--indropdown {
    border-color: #9ea3b7;
    margin-left: 10px
}

.filters__checkbox-replacer--active {
    background-color: #ff8a00;
    background-color: var(--color-accent);
    background-image: url(/media/v3/media/images/filters/checked.png);
    background-repeat: no-repeat;
    border: none
}

.filters__checkbox-extra {
    justify-content: center;
    background: #fff;
    align-items: center;
    padding: 0 10px 0 0;
    position: absolute;
    font-size: 13px;
    height: inherit;
    color: #9ea3b7;
    display: flex;
    right: 0;
    top: 0
}

.filters__checkbox-extra:before {
    background: linear-gradient(right, #fff, transparent);
    position: absolute;
    height: inherit;
    display: block;
    content: "";
    left: -30px;
    width: 30px
}

.filters__checkbox-wrapper--indropdown:hover .filters__checkbox-extra {
    color: #ff8a00;
    color: var(--color-accent)
}

.dropdown {
    outline: none;
    position: relative
}

.dropdown__search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #9ea3b7;
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    padding: 5px;
    outline: none
}

.dropdown__search-wrapper {
    padding: 10px
}

.dropdown__header {
    font-size: 13px;
    color: #fff;
    cursor: pointer
}

.dropdown__icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-left: 1px solid #cfe9f6;
    border-bottom: 1px solid #cfe9f6;
    transform: translate(5px, -2px) rotate(-45deg);
    transition: .2s ease-in-out
}

.dropdown__icon--shown {
    transform: translate(5px, 1px) rotate(-225deg)
}

.dropdown__container {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    background: #fff;
    position: absolute;
    border-radius: 3px;
    overflow-y: scroll;
    z-index: 101;
    width: 180px;
    top: 25px
}

.dropdown__container--center {
    left: -25px
}

.dropdown__items {
    max-height: 175px
}

.dropdown__items::-webkit-scrollbar-thumb {
    z-index: 999
}

.dropdown__checked-items-counter {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background: #ff8a00;
    background: var(--color-accent);
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    height: 20px;
    width: 20px
}

.range {
    margin-bottom: 12px
}

.range__title {
    color: #fff;
    font-size: 13px;
    padding-left: 1px
}

.range__title--space-between {
    display: flex;
    justify-content: space-between
}

.ui-tag[data-v-49eb54d5] {
    display: inline-block;
    height: 1.25rem;
    padding: .25rem .25rem .25rem .5rem;
    font-weight: 700;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    line-height: 1.25;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    z-index: 1;
    font-size: 10px
}

@media screen and (max-width:1000px) {
    .ui-tag[data-v-49eb54d5] {
        height: 1.5rem;
        font-size: .75rem
    }
}

.ui-tag[data-v-49eb54d5]:after,
.ui-tag[data-v-49eb54d5]:before {
    height: 1.25rem;
    display: block;
    width: .75rem;
    position: absolute;
    top: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: skewX(-16deg);
    content: ""
}

@media screen and (max-width:1000px) {
    .ui-tag[data-v-49eb54d5]:after,
    .ui-tag[data-v-49eb54d5]:before {
        height: 1.5rem
    }
}

.ui-tag[data-v-49eb54d5]:before {
    right: -10px;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.ui-tag[data-v-49eb54d5]:after {
    right: -8px;
    background-color: inherit
}

.ui-tag.\--yellow[data-v-49eb54d5] {
    background-color: #f6c13a
}

.ui-tag.\--green[data-v-49eb54d5] {
    background-color: #27ae60
}

.ui-tag.\--blue[data-v-49eb54d5] {
    background-color: #50a1ff
}

.ui-tag.\--azure[data-v-49eb54d5] {
    background-color: #81c6e3
}

.ui-tag.\--red[data-v-49eb54d5] {
    --bg-opacity: 1;
    background-color: #eb5757;
    background-color: rgba(235, 87, 87, var(--bg-opacity))
}

.flight-label:not(:first-child) {
    padding-left: 1rem
}

@media screen and (max-width:1000px) {
    .flight-label:not(:first-child) {
        padding-left: 1.25rem
    }
}

.tippy-tooltip {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56, 127, 191, var(--bg-opacity));
    padding: .5rem;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.tippy-content {
    font-size: .75rem
}

.tippy-tooltip[x-placement^=top] .tippy-arrow {
    border-top-color: #387fbf
}

.tippy-tooltip[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: #387fbf
}

.tippy-tooltip[x-placement^=left] .tippy-arrow {
    border-left-color: #387fbf
}

.tippy-tooltip[x-placement^=right] .tippy-arrow {
    border-right-color: #387fbf
}

.tippy-popper {
    z-index: 1400!important
}

.discount-label {
    padding: .25rem .5rem;
    --bg-opacity: 1;
    background-color: #eb5757;
    background-color: rgba(235, 87, 87, var(--bg-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    font-size: .75rem;
    font-weight: 700;
    border-radius: 4px
}

.container_loader {
    transition: all .5s ease;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate(-100%);
    position: fixed;
    z-index: 9990;
    background: #ecfbff;
    background: var(--color-main-background)
}

.loader_wrap {
    height: 100%;
    background-color: rgba(0, 0, 0, .86)
}

.show_loader {
    transition: all .5s ease;
    transform: translate(0)
}

.load-slider {
    width: 100%;
    max-width: 1050px;
    margin: auto;
    padding: 20px;
    z-index: 9999;
    text-align: center;
    box-sizing: border-box
}

.load-slider .logo {
    width: 270px
}

.load-slider .title {
    font-size: 22px;
    text-align: center;
    color: #528fc8
}

.banner-slider {
    padding-top: 40px
}

.banner-slider__item {
    display: flex
}

.banner-slider__controls {
    display: flex;
    justify-content: center;
    align-items: center
}

.banner-slider__controls>li {
    margin: 10px 5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: .2s ease-in-out;
    cursor: pointer;
    background: url(/media/v3/media/images/travel-slider_item.svg)
}

.banner-slider__controls>li.slick-active {
    background: url(/media/v3/media/images/travel-slider_item_active.svg)
}

.banner-slider__controls button {
    display: none
}

@media screen and (max-width:1000px) {
    .banner-slider__item {
        display: block
    }
    .banner-slider__img {
        width: 100%
    }
}

.plane,
.plane_container {
    position: relative
}

.plane {
    background: url(/media/v3/media/images/active.png);
    height: 52px;
    width: 54px;
    background-repeat: repeat-x;
    background-position-y: 50%;
    z-index: 10;
    text-align: right
}

.plane.animate {
    animation: toFill 15s ease-in-out infinite
}

.plane_container:after {
    content: "";
    background: url(/media/v3/media/images/non_active.png);
    background-repeat: repeat-x;
    background-position-y: 50%;
    width: 100%;
    max-width: 1000px;
    height: 52px;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10
}

.train-slider__cloud {
    position: absolute;
    top: -18px;
    right: -10px;
    width: 0
}

.train-slider__cloud--animate {
    animation-name: clouds;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in
}

.train-slider__cloud:nth-child(2) {
    animation-delay: .4s
}

.train-slider__cloud:nth-child(3) {
    animation-delay: .8s
}

.train-slider__cloud:nth-child(4) {
    animation-delay: 1.2s
}

.train-slider {
    position: relative
}

.train-slider__train {
    width: 80px;
    position: relative;
    top: -13px
}

.button-with-loader.\--loading {
    font-size: 0!important;
    line-height: 0;
    opacity: .9
}

.button-with-loader.\--loading span {
    display: none
}

.button-with-loader.\--loading:after {
    content: "";
    display: flex;
    width: 32px;
    height: 32px;
    margin: 6px auto 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    opacity: 0;
    animation: button-loading-fade-in .5s ease-out 1 forwards, button-loading-rotate .7s linear infinite
}

@keyframes button-loading-fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes button-loading-rotate {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes clouds {
    0% {
        right: 10px;
        opacity: 1
    }
    50% {
        top: -50px;
        opacity: .7;
        right: 40px
    }
    to {
        width: 140px;
        top: -120px;
        right: 120px;
        opacity: 0
    }
}

@keyframes toFill {
    to {
        width: 100%
    }
}

.loader-fadeout-animation-leave-active {
    transition-duration: .3s
}

.loader-fadeout-animation-leave-to {
    opacity: 0
}

.chocotravel-ui-radio-button-colors {
    --chocotravel-ui-background-color: #000
}

.chocotravel-ui-radio-button:checked+.chocotravel-ui-radio-button__view {
    background-color: var(--chocotravel-ui-background-color);
    animation-name: on-option-choose
}

.chocotravel-ui-radio-button__view {
    box-shadow: 0 0 0 2px var(--chocotravel-ui-background-color)
}

@keyframes on-option-choose {
    0% {
        transform: scale(.9)
    }
    to {
        transform: scale(1)
    }
}

.additional-product-sale-sign {
    padding-top: 2px;
    padding-bottom: 2px
}

.fare-family-radio-button-colors {
    --chocotravel-ui-background-color: #387fbf
}

.base-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear
}

.base-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, .5)
}

.base-button:disabled {
    opacity: .75;
    cursor: default
}

.base-button.\--default {
    border-radius: 4px;
    cursor: pointer
}

.base-button.\--primary {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56, 127, 191, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #387fbf;
    border: 1px solid rgba(56, 127, 191, var(--border-opacity));
    font-family: Open Sans, Arial, sans-serif;
    font-size: .875rem;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.base-button.\--primary:hover {
    --bg-opacity: 1;
    background-color: #1463aa;
    background-color: rgba(20, 99, 170, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #1463aa;
    border-color: rgba(20, 99, 170, var(--border-opacity))
}

.base-button.\--accent {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255, 138, 0, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #ff8a00;
    border: 1px solid rgba(255, 138, 0, var(--border-opacity));
    font-family: Open Sans, Arial, sans-serif;
    font-size: .875rem;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.base-button.\--accent:hover {
    --bg-opacity: 1;
    background-color: #e57c00;
    background-color: rgba(229, 124, 0, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #e57c00;
    border-color: rgba(229, 124, 0, var(--border-opacity))
}

.base-button.\--outline {
    background-color: transparent;
    --border-opacity: 1;
    border-color: #387fbf;
    border: 1px solid rgba(56, 127, 191, var(--border-opacity));
    font-family: Open Sans, Arial, sans-serif;
    --text-opacity: 1;
    color: #387fbf;
    color: rgba(56, 127, 191, var(--text-opacity));
    font-size: .875rem
}

.base-button.\--outline:hover {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56, 127, 191, var(--bg-opacity))
}

.base-button.\--outline:disabled {
    --text-opacity: 1;
    color: #9ea3b7;
    color: rgba(158, 163, 183, var(--text-opacity));
    --border-opacity: 1;
    border-color: #9ea3b7;
    border-color: rgba(158, 163, 183, var(--border-opacity));
    background-color: transparent
}

.base-button.\--outline-reversed {
    --bg-opacity: 1;
    background-color: #387fbf;
    background-color: rgba(56, 127, 191, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #fff;
    border: 1px solid rgba(255, 255, 255, var(--border-opacity));
    font-family: Open Sans, Arial, sans-serif;
    font-size: .875rem;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.base-button.\--outline-reversed:hover {
    --text-opacity: 1;
    color: #387fbf;
    color: rgba(56, 127, 191, var(--text-opacity))
}

.base-button.\--outline-reversed:hover,
.flight-path-circle {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.flight-path-circle {
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-radius: 9999px;
    --border-opacity: 1;
    border-color: #9ea3b7;
    border: 1px solid rgba(158, 163, 183, var(--border-opacity));
    top: -5px
}

.booking-details-transfer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: dashed;
    border-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    --text-opacity: 1;
    color: #387fbf;
    color: rgba(56, 127, 191, var(--text-opacity));
    font-size: .75rem
}

@media (min-width:1000px) {
    .booking-details-transfer-container {
        position: relative;
        flex-direction: row;
        align-items: center;
        height: 2.5rem;
        padding: 0;
        margin: 0;
        --bg-opacity: 1;
        background-color: #eff9fe;
        background-color: rgba(239, 249, 254, var(--bg-opacity));
        border-width: 0
    }
    .booking-details-transfer-container:before {
        position: absolute;
        top: 0;
        --border-opacity: 1;
        border-color: #eff9fe;
        border: 20px solid rgba(239, 249, 254, var(--border-opacity));
        border-right-width: 1px;
        content: "";
        left: -40px;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent
    }
}

.ancillary-options-dropdown {
    max-height: 220px;
    position: absolute;
    overflow-y: scroll;
    width: inherit;
    z-index: 1;
    top: 100%;
    border-radius: 0 0 5px 5px;
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    border: 1px solid #cfd1db;
    border: 1px solid var(--color-light-gray);
    box-shadow: 0 10px 10px #badeff;
    background-color: #f4fdff;
    transform: translateX(-1px)
}

.ancillary-options-dropdown__option {
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
    min-height: 40px;
    flex-wrap: wrap;
    padding: 12px;
    display: flex;
    width: 100%;
    margin: 0;
    line-height: 20px;
    text-align: left;
    font-size: 13px;
    color: #212c5b;
    color: var(--color-dark-blue-text);
    background-color: #f4fdff;
    border: none;
    transition: .2s ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

.ancillary-options-dropdown__option:focus,
.ancillary-options-dropdown__option:hover {
    background-color: #f0f1f4;
    outline: none
}

.ancillary-options-dropdown__option:active {
    background-color: #eaecf0
}

.ancillary-options-dropdown__option.\--disabled {
    cursor: not-allowed;
    opacity: .5
}

.ancillary-options-dropdown__checkbox {
    background-color: #fff;
    margin-right: 12px
}

.ancillary-options-dropdown__option-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap
}

@media screen and (max-width:550px) {
    .ancillary-options-dropdown__option-wrapper {
        flex-direction: column
    }
}

.ancillary-options-dropdown__option-price {
    font-weight: 600
}

.ancillary-options {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%
}

@media screen and (max-width:1000px) {
    .ancillary-options {
        border: 1px solid #cfd1db;
        border: 1px solid var(--color-light-gray)
    }
}

.ancillary-options__current-option {
    min-height: 50px;
    display: flex;
    transition: .3s ease-in-out;
    transition: var(--base-transition);
    cursor: pointer
}

.ancillary-options__current-option.\--active {
    background-color: #f4fdff
}

.ancillary-options__options-wrapper {
    flex-direction: column;
    display: flex;
    flex: 1
}

.ancillary-options__current-option-title {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    font-size: 13px
}

@media screen and (max-width:550px) {
    .ancillary-options__current-option-title {
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap
    }
}

@media screen and (max-width:460px) {
    .ancillary-options__current-option-title {
        padding: 10px
    }
}

.ancillary-options__current-option-title.\--passive {
    color: #9ea3b7;
    color: var(--color-gray)
}

.ancillary-options__current-option-price {
    font-weight: 800
}

.ancillary-options__toggle {
    width: 50px;
    margin: 0;
    transition: .3s ease-in-out;
    transition: var(--base-transition);
    background-color: #f0f1f4;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

.ancillary-options__toggle:focus,
.ancillary-options__toggle:hover {
    background-color: #eaecf0;
    outline: none
}

.ancillary-options__toggle:disabled {
    opacity: .2;
    cursor: not-allowed
}

.ancillary-options__toggle.\--active {
    background-color: #f4fdff
}

.ancillary-options__toggle-icon {
    width: 14px;
    transition: .3s ease-in-out;
    transition: var(--base-transition)
}

.ancillary-options__toggle-icon.\--active {
    transform: rotate(-180deg)
}

.ancillary-segment {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cfd1db;
    border: 1px solid var(--color-light-gray);
    border-bottom: none;
    transition: .3s ease-in-out;
    transition: var(--base-transition)
}

.ancillary-segment:last-child {
    border-bottom: 1px solid #cfd1db;
    border-bottom: 1px solid var(--color-light-gray);
    border-radius: 0 0 3px 3px;
    border-radius: 0 0 var(--radius-xs) var(--radius-xs);
    overflow: hidden
}

.ancillary-segment.\--expand:last-child {
    border-radius: 0;
    overflow: visible;
    overflow: initial
}

.ancillary-segment__container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    box-sizing: border-box
}

.ancillary-segment__container:first-child {
    border-right: 1px solid #cfd1db;
    border-right: 1px solid var(--color-light-gray)
}

.ancillary-segment__plane-icon {
    margin: 0 30px;
    opacity: .5
}

.ancillary-segment__plane-icon.\--reverse {
    transform: rotate(180deg)
}

.ancillary-segment__path {
    font-size: 13px;
    line-height: 20px;
    color: #212c5b;
    color: var(--color-dark-blue-text)
}

@media screen and (min-width:1000px) {
    .ancillary-segment__path:first-child {
        margin-left: 80px
    }
}

@media screen and (max-width:1000px) {
    .ancillary-segment__path:first-child {
        margin-left: 35px
    }
}

@media screen and (max-width:1000px) {
    .ancillary-segment {
        flex-direction: column;
        border: none
    }
    .ancillary-segment:last-child {
        border: none
    }
    .ancillary-segment__container {
        min-height: 50px
    }
    .ancillary-segment__container:first-child {
        border: none
    }
    .ancillary-segment__plane-icon {
        margin: 0 15px 0 0
    }
}

.ancillary-product:not(:last-of-type) {
    margin-bottom: 20px
}

@media screen and (max-width:1000px) {
    .ancillary-product {
        border-top: 1px dashed #cfd1db;
        border-top: 1px dashed var(--color-light-gray)
    }
    .ancillary-product.\--expanded {
        border-top: none
    }
}

.ancillary-header {
    padding: 16px 18px;
    display: flex;
    align-items: center;
    border: 1px solid #cfd1db;
    border: 1px solid var(--color-light-gray);
    border-radius: 3px;
    border-radius: var(--radius-xs)
}

.ancillary-header__main {
    align-items: center;
    display: flex;
    width: 100%
}

.ancillary-header__content {
    display: flex;
    flex-direction: column;
    margin: 0 20px
}

.ancillary-header__title {
    font-weight: 600;
    line-height: 20px;
    color: #212c5b;
    color: var(--color-dark-blue-text)
}

.ancillary-header__price {
    font-weight: 800;
    margin: 0 40px;
    color: #fff
}

.ancillary-header__price:empty {
    margin: 0
}

.ancillary-header__description {
    margin: 4px 0;
    font-size: 12px
}

.ancillary-header__btn {
    width: 120px;
    margin-left: auto
}

.ancillary-header__arrow-btn {
    border-top: 15px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid transparent;
    position: relative;
    right: -20px;
    transition: .3s ease-in-out;
    transition: var(--base-transition);
    transform: rotate(-180deg);
    margin-left: auto;
    display: none;
    width: 14px;
    height: 8px;
    cursor: pointer
}

.ancillary-header.\--expanded {
    padding: 5px 18px;
    background-color: #387fbf;
    background-color: var(--color-primary);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none
}

.ancillary-header.\--expanded .ancillary-header__content {
    flex-direction: row
}

.ancillary-header.\--expanded .ancillary-header__title {
    color: #fff
}

.ancillary-header.\--expanded .ancillary-header__description {
    display: none
}

.ancillary-header.\--expanded .ancillary-header__arrow-btn {
    display: block
}

.ancillary-header.\--expanded .ancillary-header__btn {
    display: none
}

.ancillary-header.\--closed-and-selected {
    padding: 5px 18px
}

.ancillary-header.\--closed-and-selected .ancillary-header__content {
    flex-direction: row
}

.ancillary-header.\--closed-and-selected .ancillary-header__description {
    display: none
}

.ancillary-header.\--closed-and-selected .ancillary-header__price {
    color: #212c5b;
    color: var(--color-dark-blue-text)
}

.ancillary-header.\--closed-and-selected .ancillary-header__arrow-btn {
    transform: none;
    display: block
}

.ancillary-header.\--closed-and-selected .ancillary-header__btn {
    display: none
}

@media screen and (max-width:1000px) {
    .ancillary-header {
        flex-direction: column;
        margin: 0 -10px;
        padding: 10px;
        border-radius: 0;
        border: none
    }
    .ancillary-header__content {
        flex-direction: column!important;
        margin: 0 10px
    }
    .ancillary-header__price {
        margin: 0;
        font-size: 14px
    }
    .ancillary-header__arrow-btn {
        right: 0
    }
    .ancillary-header__btn {
        margin: 10px auto 0
    }
    .ancillary-header.\--closed-and-selected .ancillary-header__title,
    .ancillary-header.\--expanded .ancillary-header__title {
        font-size: 12px
    }
}

.ancillary-products {
    padding: 20px 0;
    width: 100%
}

@media screen and (max-width:1000px) {
    .ancillary-products {
        padding-bottom: 0
    }
}

.gender-radiobtn {
    position: relative;
    display: inline-block;
    width: 1.25rem;
    margin: 0;
    text-align: center;
    cursor: pointer
}

.gender-radiobtn:first-of-type {
    border-right-width: 1px;
    --border-opacity: 1;
    border-color: #6099cc;
    border: 0 solid rgba(96, 153, 204, var(--border-opacity))
}

.gender-radiobtn__label {
    margin: 0;
    font-size: .75rem;
    --text-opacity: 1;
    color: #6099cc;
    color: rgba(96, 153, 204, var(--text-opacity))
}

.gender-radiobtn__input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0
}

.gender-radiobtn__input:checked+.gender-radiobtn__label {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
    font-weight: 600
}

.product-info-modal {
    width: calc(100% - 20px)
}

@media screen and (min-width:1000px) {
    .product-info-modal {
        width: 500px
    }
}

.ui-checkbox {
    position: relative;
    cursor: pointer
}

.ui-checkbox__box {
    display: inline-block;
    left: 0;
    box-shadow: 0 0 0 2px #387fbf;
    box-shadow: 0 0 0 2px var(--color-primary);
    border-radius: 3px;
    border-radius: var(--radius-xs);
    transition: .3s ease-in;
    overflow: hidden
}

.ui-checkbox__box,
.ui-checkbox__box:after {
    background-repeat: no-repeat;
    background-position: 50%
}

.ui-checkbox__box:after {
    display: block;
    content: "";
    background-color: #fff;
    background-image: url(/media/v3/media/images/icons/checkbox--white.svg);
    transform: scale(0);
    transition: transform .1s ease-in
}

.ui-checkbox__box.\--sm {
    min-height: 16px;
    max-height: 16px;
    min-width: 16px;
    max-width: 16px;
    background-size: 10px
}

.ui-checkbox__box.\--sm:after {
    width: 16px;
    height: 16px;
    background-size: 10px
}

.ui-checkbox__box.\--md {
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
    background-size: 16px
}

.ui-checkbox__box.\--md:after {
    width: 20px;
    height: 20px;
    background-size: 16px
}

.ui-checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

.ui-checkbox-input:hover+.ui-checkbox__box {
    background-image: url(/media/v3/media/images/icons/checkbox--primary.svg)
}

.ui-checkbox-input:checked+.ui-checkbox__box:after {
    background-color: #387fbf;
    background-color: var(--color-primary);
    transform: scale(1)
}

.ui-checkbox-input:hover:checked+.ui-checkbox__box:after {
    background-image: url(/media/v3/media/images/icons/checkbox--white.svg);
    transform: scale(1)
}

.ui-checkbox-input:focus+.ui-checkbox__box {
    box-shadow: 0 0 0 2px #387fbf, 0 0 0 4px #a8d9ef;
    box-shadow: 0 0 0 2px var(--color-primary), 0 0 0 4px var(--color-blue-focus)
}

.ui-checkbox-input:disabled+.ui-checkbox__box:after {
    border-color: #9ea3b7;
    border-color: var(--color-gray);
    cursor: not-allowed
}

.ui-checkbox-input:disabled+.ui-checkbox__box {
    background-image: none;
    box-shadow: 0 0 0 2px #9ea3b7;
    box-shadow: 0 0 0 2px var(--color-gray)
}

.ui-checkbox-input:disabled:checked+.ui-checkbox__box:after {
    background-color: #fff;
    background-image: url(/media/v3/media/images/icons/checkbox--gray.svg)
}

.header-shadow {
    box-shadow: 0 10px 21px 0 #A2A2A240
}

.seatmap-container {
    border-radius: 4px;
    overflow: hidden
}

@media (min-width:1000px) {
    .seatmap-container {
        height: 300px
    }
    .seatmap-container-outer {
        height: 392px
    }
}

.seatmap-modal {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
    max-width: 800px;
    min-height: 545px;
    max-height: calc(100vh - 16px)
}

.additional-products-radio-button-colors {
    --chocotravel-ui-background-color: #387fbf
}

.labeled-input {
    position: relative
}

.labeled-input.\--first {
    order: -9999
}

.labeled-input:after {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    content: ""
}

.labeled-input:last-of-type:after {
    display: none
}

.labeled-input__label {
    position: absolute;
    width: 100%;
    font-size: .75rem;
    --text-opacity: 1;
    color: #9ea3b7;
    color: rgba(158, 163, 183, var(--text-opacity));
    display: none;
    top: -20px
}

.labeled-input__input {
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    --border-opacity: 1;
    border-color: #9ea3b7;
    border-color: rgba(158, 163, 183, var(--border-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: calc(100% - 5px)
}

.labeled-input__input.\--error {
    --bg-opacity: 1;
    background-color: #fff3e7;
    background-color: rgba(255, 243, 231, var(--bg-opacity))
}

@media (min-width:1000px) {
    .labeled-input {
        margin-bottom: 0
    }
    .labeled-input.\--first {
        order: 0
    }
    .labeled-input:after {
        --bg-opacity: 1;
        background-color: #cfd1db;
        background-color: rgba(207, 209, 219, var(--bg-opacity))
    }
    .labeled-input__label {
        display: block
    }
    .labeled-input__input {
        width: 100%;
        border-color: transparent
    }
}

.v-select .dropdown-toggle {
    width: 100%;
    height: 100%
}

.v-select .dropdown-toggle .selected-tag {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.v-select .vs__selected-options {
    max-width: calc(100% - 30px)
}

.v-select .dropdown-menu {
    display: flex;
    width: 16rem
}

.v-select .dropdown-menu a {
    width: 100%;
    font-size: .875rem;
    padding: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.credit__loader[data-v-284aa1f4] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    z-index: 20
}

@media (min-width:1000px) {
    .credit__loader[data-v-284aa1f4] {
        flex-direction: row;
        justify-content: flex-start
    }
}

.credit-tab[data-v-14c1969e] {
    position: relative;
    flex-grow: 1;
    padding: .75rem;
    border-radius: 8px;
    text-align: center;
    font-size: .875rem;
    font-weight: 600;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer
}

.credit-tab[data-v-14c1969e]:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, .5);
    outline: 2px solid transparent;
    outline-offset: 2px
}

.credit-tab[data-v-14c1969e]:last-of-type:after {
    display: none
}

.credit-tab.\--active[data-v-14c1969e] {
    --bg-opacity: 1;
    background-color: #ff8a00;
    background-color: rgba(255, 138, 0, var(--bg-opacity));
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1)
}

.credit-tab.\--active[data-v-14c1969e]:after {
    display: none
}

@media (min-width:1000px) {
    .credit-tab[data-v-14c1969e] {
        font-size: .875rem
    }
}

.select-list[data-v-90a7f816] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px
}

.select-list.\--disabled .select-list__output[data-v-90a7f816] {
    --text-opacity: 1;
    color: #9ea3b7;
    color: rgba(158, 163, 183, var(--text-opacity));
    font-weight: 400
}

.select-list__output-wrapper[data-v-90a7f816] {
    box-sizing: border-box;
    padding: 0 28px 0 12px;
    align-items: center;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    color: #383838;
    transition: .2s ease-in
}

.select-list__output-wrapper[aria-expanded][data-v-90a7f816] {
    border-radius: 4px 4px 0 0
}

.select-list__output-wrapper[aria-expanded][data-v-90a7f816],
.select-list__output-wrapper[data-v-90a7f816]:focus {
    box-shadow: 0 0 0 1px #a8d9ef;
    box-shadow: 0 0 0 1px var(--color-blue-focus);
    border: 1px solid #a8d9ef;
    border: 1px solid var(--color-blue-focus);
    outline: 0
}

.select-list__output[data-v-90a7f816] {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    overflow: hidden
}

.select-list__output-wrapper[aria-expanded]+.select-list__toggle>img[data-v-90a7f816] {
    transform: rotate(-180deg)
}

.select-list__toggle[data-v-90a7f816] {
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 40px;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer
}

.select-list__toggle[data-v-90a7f816]:focus {
    outline: none
}

.select-list__toggle>img[data-v-90a7f816] {
    display: block;
    transition: .2s ease-in;
    transform-origin: center
}

.select-list__dropdown[data-v-90a7f816] {
    z-index: 1200;
    z-index: var(--level-dropdown);
    box-sizing: border-box;
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    border-radius: 0 0 4px 4px;
    border: 1px solid #cfd1db;
    border-top: none;
    list-style: none;
    background: #fff
}

.select-list__dropdown[data-v-90a7f816]:focus {
    outline: none
}

.select-list__option[data-v-074f360c] {
    padding: 10px 20px 10px 30px;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    line-height: 20px;
    text-align: left;
    cursor: pointer
}

.select-list__option[data-v-074f360c]:before {
    position: absolute;
    left: 10px;
    transform: rotate(-45deg);
    display: block;
    width: 8px;
    height: 3px;
    border-bottom: 2px solid #387fbf;
    border-left: 2px solid #387fbf
}

.select-list__option[aria-selected][data-v-074f360c]:before {
    content: ""
}

.select-list__option[data-v-074f360c]:focus:not([aria-selected]):before,
.select-list__option[data-v-074f360c]:hover:not([aria-selected]):before {
    border-color: transparent;
    content: ""
}

.select-list__option[data-v-074f360c]:focus,
.select-list__option[data-v-074f360c]:hover {
    background-color: #f4fdff;
    outline: none;
    color: #387fbf
}

.status-message {
    display: flex;
    align-items: center;
    padding: .75rem;
    border-radius: 12px
}

.status-message.\--success {
    background-color: #8dcc95
}

.status-message.\--success .status-message__icon.\--success {
    display: block
}

.status-message.\--error {
    background-color: #e67c7d
}

.status-message.\--error .status-message__icon.\--error {
    display: block
}

.status-message__icon {
    display: none;
    width: 1.25rem;
    margin-right: 1rem
}

.status-message__title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700
}

.status-message__text {
    margin: 0;
    font-size: .875rem
}

.loan-container-min-height {
    min-height: 250px
}

.payment-select-list .select-list__output-wrapper {
    --border-opacity: 1;
    border-color: #9ea3b7;
    border-color: rgba(158, 163, 183, var(--border-opacity));
    border-radius: 12px
}

.payment-select-list .select-list__output-wrapper .select-list__output {
    font-size: 1rem;
    font-weight: 400;
    --text-opacity: 1;
    color: #9ea3b7;
    color: rgba(158, 163, 183, var(--text-opacity))
}

.payment-select-list .select-item.\--disabled {
    --text-opacity: 1;
    color: #cfd1db;
    color: rgba(207, 209, 219, var(--text-opacity))
}

.payment-select-list .select-item.\--disabled:hover {
    background-color: transparent
}

.ui-spinner,
.ui-spinner:after {
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.ui-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 8px solid rgba(56, 127, 191, .2);
    border-left-color: #387fbf;
    transform: translateZ(0);
    animation: ui-spinner-loader .8s infinite linear
}

@keyframes ui-spinner-loader {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.ui-tooltip-arrow {
    position: absolute;
    --border-opacity: 1;
    border-color: #387fbf;
    border: 5px solid rgba(56, 127, 191, var(--border-opacity));
    bottom: -10px;
    left: calc(50% - 5px);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent
}

.line[data-v-684e2001] {
    position: absolute;
    height: 100%;
    --bg-opacity: 1;
    background-color: #cfd1db;
    background-color: rgba(207, 209, 219, var(--bg-opacity));
    width: 2px;
    left: calc(50% - 1px)
}

.point[data-v-684e2001] {
    position: absolute;
    border-width: 2px;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    box-sizing: border-box;
    border-width: 1px;
    --border-opacity: 1;
    border-color: #cfd1db;
    border: 2px solid rgba(207, 209, 219, var(--border-opacity));
    height: 8px;
    width: 8px;
    left: calc(50% - 4px);
    border-radius: 50%
}

.payment-page-container * {
    --text-opacity: 1;
    color: #383838;
    color: rgba(56, 56, 56, var(--text-opacity));
    font-family: Open Sans, sans-serif
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(.55, 0, .1, 1)
}

.slide-up-enter,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(40px)
}

.slide-down-enter-active,
.slide-up-down-active {
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(.55, 0, .1, 1)
}

.slide-down-enter,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(-40px)
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: .5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    overflow: hidden
}

.slide-right-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(3em)
}

.slide-left-enter,
.slide-left-leave-active {
    opacity: 0;
    transform: translate(-3em)
}

body,
html {
    height: 100%
}

footer {
    margin-top: auto
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%
}

.header {
    flex-shrink: 0
}

.content,
.content-center {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%
}

.content-center {
    margin: 0!important
}

.app-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%
}

.open-sans {
    font-family: Open Sans, Arial, sans-serif!important
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.no-scrollbar::-webkit-scrollbar {
    display: none
}