.visa-container_header,
.visa-container_text {
  text-align: center;
}

.visa-slider {
    max-height: 220px; 
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}


.visa-container_text {
  font-size: 20px;
  color: #212c5b;
  line-height: 30px;
  font-weight: 400;
}

.visa-container_header {
  display: block;
  font-size: 30px;
  font-weight: 600;
}

.visa-slider_country {
    outline: 0;
    margin-right: 5px;
    width: 25%; 
    height: 220px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.visa-slider_img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visa-slider_country-name {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  z-index: 1;
}

.visa-slider_country-price {
  z-index: 1;
  color: #fff;
  line-height: 30px;
}

.visa-slider_country-price-currency {
  color: #b2b2b2;
}

.visa-slider_country-backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.visa-slider__start-btn {
  z-index: 1;
  transition: all 0.3s;
  bottom: -50px;
  position: absolute;
}

.visa-slider_country:hover .visa-slider__start-btn {
  bottom: 10px;
}



@media screen and (max-width: 1000px) {
  .visa-country-info {
    flex-direction: column;
  }

  .visa-passengers {
    flex-direction: column-reverse;
  }

  .visa-country-info__item {
    width: 100%;
    margin-top: 10px;
  }

  .visa-passenger__list {
    order: 2;
    width: 100%;
  }

  .visa-passenger__actions {
    width: 100%;
    order: 1;
    text-align: right;
    padding: 0;
    margin: 10px 0;
  }

  .visa-country-info__country-select,
  .visa-country-info_short,
  .visa-country-info,
  .visa-contacts .input-group-field,
  .visa-passengers,
  .visa-contacts {
    width: 100%;
  }

  .visa-contacts .input-group {
    flex-direction: column;
    border: 0;
  }

  .visa-contacts .input-group-field {
    border: 1px solid #9ea3b7;
    margin-top: 30px;
  }

  .visa-contacts__header {
    margin-bottom: 0;
  }

  .visa-reasons__list-item {
    width: 50%;
  }

  .input-group-field:before {
    display: none !important;
  }

  .visa-passenger__close {
    top: 10px;
    right: -3px;
  }
}


.visa-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #387fbf;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 70px;
  padding-right: 32px;
  border-radius: 4px;
}

.visa-form_header{
  text-align: center;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.visa-form_text{
  text-align: center;
  margin-bottom: 0.75rem;
}

.form-label{
  width: 85%;
  justify-content: center;
  padding-left: 450px;
}

.base-button{
  width: 315px;
  
}

.visa-form-span{
  margin-bottom: 0.25rem;
  display: block;
}

.visa-form-input, select{
  width: 41.666667%;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #cfd1db;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: .875rem;
  height: 2.5rem;
}

visa-form-select{
  width: 41.666667%;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #cfd1db;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: .875rem;
}

.base-button{
  background-color: #ff8a00;
  border: 1px solid rgba(255,138,0,1);
  border-radius: 4px;
  cursor: pointer;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: 700;
  font-family: Open Sans,Arial,sans-serif;
  font-size: .875rem;
  color: #fff;
  color: rgba(255,255,255,1);
}