
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sirius', sans-serif;
}

.container {
    text-align: center;
    position: relative;
    left: -250px;
    top: -120px;
}

.tex {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

#box2 {
    width: 200px; /* или другая ширина, которую вы предпочитаете */
}

.container {
    text-align: center;
}

#img1 {
    margin-left: 475px;
    margin-top: 185px;
}

/* @font-face {
    font-family: Stem Bold;
    src: url(Stem-Bold.ttf);
} */

#box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 92px 92px 0px, rgba(0, 0, 0, 0.035) 0px 3px 38.435398px 0px, rgba(0, 0, 0, 0.06) 0px -3px 20.5494px 0px, rgba(0, 0, 0, 0.02) 0px 5.79369px 11.5198px 0px, rgba(0, 0, 0, 0.01) 0px 2.40368px 6.11809px 0px, rgba(0, 0, 0, 0.008) 0px 0.705169px 2.54588px 0px;
    box-sizing: border-box;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: 284px;


    width:430px;

    height:310px;
    margin-left: 500px;
    margin-top: 12px;
    background-color:#ffffff; 
    -webkit-border-radius: 28px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    /* background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)); */
}

.info{
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
    font-weight: bolder;
}

#tex {
    display: block;
    margin-left: 20px;
    padding-top: 20px;
}


input {
    width: 100%;
    font-size: 20px;
    font-weight: 10%;
    padding-left: 10px;
}

#box2 {
    width:330px;
    height:50px;
    margin-top: 12px;
    background-color:#f1f2f7;
    opacity: 1;
    border-radius: 13px;
}



.btn_1 {
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    width:330px;
    height:50px;
    border-radius: 13px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

